[2016-03-05 07:23] Driesboy opened #1 "multi world support and leave command"

[2016-03-05 21:27] ImagicalGamer commented on #1
I am currently working on that. To leave a match just do /hub if you have Mspawns by evolsoft or any other lobby/spawn/hub command and you will be out of the game.

[2016-03-06 23:25] TheGalaxyLord opened #2 "Before match issues"
So before the match starts when it counts down the players can hit each other and even after the match starts you can still hit the player and there is also a chance that you will spawn on players.

[2016-03-06 23:35] ImagicalGamer commented on #2
That is a known bug, currently working on a fix. There is no grace period so thats why you can damage players at the beginning of a match. If your running the plugin on ImagicalMine that's why it will spawn players on top of each other.

[2016-03-06 23:35] #1 closed

[2016-03-06 23:37] ImagicalGamer commented on #2
Easy fix for players hitting each other, spawn positions 4-5 blocks apart.

[2016-03-07 17:31] Driesboy opened #3 "add 10 sec no damage"

[2016-03-07 17:31] Driesboy opened #4 "game do not stop after 0 players"

[2016-03-07 17:31] Driesboy opened #5 "on end game clear all() error"

[2016-03-07 17:32] Driesboy opened #6 "winner dont teleport to spawn"

[2016-03-07 17:32] Driesboy opened #7 "add player leave event"

[2016-03-07 21:38] #2 closed

[2016-03-07 21:39] ImagicalGamer commented on #6
Known issue with Genisys teleports to void or leaves in arena. Working on a fix.

[2016-03-07 21:39] #6 closed

[2016-03-07 21:39] ImagicalGamer commented on #7
No need to you can go back to the hub world and your out of the game.

[2016-03-07 21:39] #7 closed

[2016-03-07 21:40] ImagicalGamer commented on #5
Crash dump or error log please.

[2016-03-07 21:41] ImagicalGamer commented on #4
Another thing caused by Genisys, it works on PocketMine.

[2016-03-07 21:41] ImagicalGamer commented on #3
Working on a grace period

[2016-03-07 21:41] #4 closed

[2016-03-07 21:41] #3 closed

[2016-03-08 05:48] Driesboy commented on #4
Fix it for genisys

[2016-03-08 05:50] Driesboy commented on #7
Not on genisys and leaved players are not remover ved and sign say running with 0 players

[2016-03-08 05:51] Driesboy commented on #5
No dump but error in console

[2016-03-08 06:21] Driesboy commented on #6
$player->teleport($this->getServer()->getDefaultLevel()->getSafeSpawn());

[2016-03-08 06:37] Driesboy opened #8 "use this https://github.com/Driesboy/SurvivalGames/commit/556f2b68f07e2d49ab4be34062a32932b8425866"
https://github.com/Driesboy/SurvivalGames/commit/556f2b68f07e2d49ab4be34062a32932b8425866

[2016-03-08 06:37] Driesboy commented on #8
fixing genisys

[2016-03-08 21:51] ImagicalGamer commented on #8
Have you tested it? I'll test it on ImagicalMine and PocketMine if it works you can make a pull request and I'll make it another branch or merge them.

[2016-03-08 21:57] ImagicalGamer commented on #5
What's the error? I can't seem to re-create this. I'm not using PHP7 Genisys when testing this btw.

[2016-03-08 22:12] ImagicalGamer commented on #5
Tested on Genisys PHP7 no issue when I tested it

[2016-03-08 22:33] ImagicalGamer commented on #5
Issue should be fixed if your using the latest Genisys build.

[2016-03-08 22:34] #5 closed

[2016-03-08 22:34] ImagicalGamer commented on #8
I tested it on Genisys and ImagicalMine most of it worked. There were a few bugs and errors within the code. Thanks for the Genisys fix!

[2016-03-08 22:34] #8 closed

[2016-03-09 14:23] MichaelM04 opened #9 "Set Death Match Spawn Error"
So It was working fine for all 24 player spawn point sets then when it said set death match spawn it does nothing in game but in console it displays this error

Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerInteractEvent' to 'SurvivalGamesV2 v2.0.8': Call to undefined method pocketmine\level\Level::setSpawn() on SurvivalGamesV2\SurvivalGamesV2[14:20:27] [Server thre

[2016-03-09 14:23] MichaelM04 commented on #9
PocketMine-MP PHP7 Build

[2016-03-09 15:11] ImagicalGamer commented on #9
It isn't fully updated to PHP7.

[2016-03-09 16:26] ImagicalGamer commented on #9
Thanks for the PHP7 update! The plugin was made for a PHP5 client.

[2016-03-09 16:26] #9 closed

[2016-03-10 02:43] CLiu13 opened #11 "Fix All Bugs for Genisys!"
For example, when players die, the game still registers them as an active player.

[2016-03-10 04:34] ImagicalGamer commented on #11
I can't seem to re-create this, if your default world is the same as the SG arena this will happen.

[2016-03-10 06:24] Driesboy commented on #11
no its not he same world
0/24 players in arena
sign say running
and no players can kom naar deze clan

[2016-03-10 13:20] ImagicalGamer commented on #11
That's not a bug. That happens when the arena is corrupted or the world is corrupted.

[2016-03-10 14:45] CLiu13 commented on #11
Alright, I will test this out with two different worlds.

[2016-03-10 15:08] Driesboy commented on #11
its bug
i have name the world/ Map2
and lobby world Lobby

[2016-03-10 22:16] ImagicalGamer commented on #11
I know the current bugs with my plugin and that's not one of them. That's a Genisys bug, the only system that error has occurred on is Genisys.

[2016-03-12 00:24] TheGalaxyLord opened #12 "Moving issues [GENISYS]"
Apparently when people are still before the match u can kinda glitch and be able to move out of the spawn pad thing and open the chests

[2016-03-12 00:35] TheGalaxyLord opened #13 "Match doesn't start [GENISYS]"
For some reasons the match doesn't wanna start it keeps getting stuck at 0 seconds and then nothing happens.

[2016-03-12 01:04] ImagicalGamer commented on #12
Sorry about that, issue will be fixed in version V3.0.2. What IM version are you running?

[2016-03-12 01:04] #11 closed

[2016-03-12 01:05] ImagicalGamer commented on #13
Reset your Config, some of these are ImagicalMine bugs that I have no control over, I'm trying to re-create this issue now.

[2016-03-12 01:11] TheGalaxyLord commented on #12
I am using Genisys

[2016-03-12 01:22] ImagicalGamer commented on #12
That's why it's not working, it was made for PocketMine and ImagicalMine only, too many PHP7 errors when running Genisys.

[2016-03-12 01:22] ImagicalGamer commented on #12
I will make a Genisys edition.

[2016-03-12 02:54] ImagicalGamer commented on #13
Genisys issue, numerous Genisys bugs caused by PHP7 fixing now.

[2016-03-12 02:54] #13 closed

[2016-03-12 08:13] erkam2002 opened #14 "Cant set deathmatch spawn"

[2016-03-12 13:08] ImagicalGamer commented on #14
Are you running PocketMine - ImagicalMine or Genisys? If your running Genisys there's not much I can do, I'm focusing on ImagicalMine support right now.

[2016-03-12 13:12] ImagicalGamer commented on #12
Issue closed, Reason: Known Issue, will be resolved with Genisys edition.

[2016-03-12 13:12] #12 closed

[2016-03-12 14:17] TheGalaxyLord commented on #14
I just tried it on IM and I also can't set DM

[2016-03-12 14:49] ImagicalGamer commented on #14
Download the latest .ZIP version from here and compile it, some of the PHP7 issues are gone, I was able to set a deathmatch spawn.

[2016-03-12 16:51] remotevase opened #15 "When type "/sg" help does not show up"
When I type "/help" the command "/sg: SurvivalGames-Commands" shows up
Then I type "/sg" and this comes up
"[SG] Missing parameters"

[2016-03-12 17:03] ImagicalGamer commented on #15
Not an issue, I never added a help menu. I'll add that now

[2016-03-12 17:25] kaitododoyt opened #16 "Cant set deathmatch spawn"
critical> Error: "Call to undefined method pocketmine\level\Level::setSpawn()" (EXCEPTION) in "/SGV3.phar/src/SurvivalGamesV3/SurvivalGamesV3" at line 294

[2016-03-12 17:29] MateiGamingYTB opened #17 "What is this (rank.yml)?? [QUESTION]"

[2016-03-12 17:36] ImagicalGamer commented on #17
It's for an uncoming feature. You can use /setrank [rank] [player] or vice versa. The ranks are: VIP, VIP+, YouTuber, YouTuber+. It gives them kits at the start of the game based on their rank.

[2016-03-12 17:36] ImagicalGamer commented on #17
The feature works but isn't PHP7 enabled so if your using anything but PocketMine it won't work.

[2016-03-12 17:37] ImagicalGamer commented on #16
Known issue, it's caused by PHP7. Were working to fix that now.

[2016-03-12 17:37] #16 closed

[2016-03-12 17:37] #14 closed

[2016-03-12 17:37] #15 closed

[2016-03-12 17:58] remotevase commented on #17
I am working on fixing that

[2016-03-12 18:03] remotevase opened #18 "Says "ImagicalMine DOES NOT WORK WITH PHP7 YET""
We updated it and now the majority of it works

[2016-03-12 18:05] ImagicalGamer commented on #18
Yea the majority, but it doesn't fully function with ImagicalMine and PHP7. I found our main issue on line 294. "Call to undefined method pocketmine\level\Level::setSpawn()" (EXCEPTION) in "/SGV3.phar/src/SurvivalGamesV3/SurvivalGamesV3" at line 294" But idk what to do.

[2016-03-12 18:07] ImagicalGamer commented on #17
It works but needs some changes. I'll fully finish ranks now.

[2016-03-12 19:04] remotevase commented on #15
I added it, lol sorry for not telling u

[2016-03-12 21:46] MateiGamingYTB commented on #17
setrank is added? or coming soon adding?

[2016-03-12 22:20] ImagicalGamer commented on #17
It is added, if your running PocketMine it will work.

[2016-03-12 23:03] TheGalaxyLord commented on #14
Nope still doesn't work

[2016-03-12 23:14] kaitododoyt opened #19 "Error command and /sg make"
Notice: Undefined variable: sender in phar://C:/Users/Kaito/Desktop/kaito php7/plugins/phar_SurvivalGamesV3-master_LaOIAsCRldcAhoo.phar/src/SurvivalGamesV3/SurvivalGamesV3.php on line 185
[19:11:48] [Server thread/CRITICAL]: Excepcion incontrolada al ejecutar el comando 'sghelp' en sghelp: Call to a member function sendMessage() on unknown
[19:11:48] [Server thread/CRITICAL]: Error: "Call to a mem

[2016-03-12 23:52] ImagicalGamer commented on #19
The plugin is being partially re-written. You can download a bug free version here: http://forums.imagicalmine.net/plugins/survivalgames.68/

[2016-03-12 23:52] #18 closed

[2016-03-13 00:26] kaitododoyt opened #20 "PocketMine/ImagicalMine Bug Report!"
the plugin have god mode?

[2016-03-13 00:27] ImagicalGamer commented on #20
If you mean a "grace period" no. If you have spawn protection and peaceful spawn it will make parts of the map "safe zones". Grace period coming in a later version.

[2016-03-13 00:28] #19 closed

[2016-03-13 00:38] kaitododoyt commented on #20
ok thanks, good work only need invencibility period and solve the bug when player dies

[2016-03-13 00:45] ImagicalGamer commented on #20
Explain the bug please? Is it the one where the player stays in the arena?

[2016-03-13 01:26] kaitododoyt commented on #20
yes, the winner stay in arena until the loser press reappear

[2016-03-13 01:28] ImagicalGamer commented on #20
Ah, so when the loser "respawns" the winner is teleported to the Default Level?

[2016-03-13 02:33] ImagicalGamer commented on #20
I just updated it so when the player respawns they go to the Hub world. There's not much that can be done about your issue. The player stays in the world they died in until they respawn.

[2016-03-13 05:06] XiangZhao969 opened #22 "Does the plugin work in Genisys?"

[2016-03-13 05:17] erkam2002 commented on #22
Yes ik but in 3.0.1 work it bruh xD

[2016-03-13 05:25] XiangZhao969 commented on #22
Nice. (Any bug bruh?)

[2016-03-13 11:38] ImagicalGamer commented on #22
Version 3.0.1 had numerous PHP7 updates and bug fixes. You can get it [HERE](http://forums.imagicalmine.net/plugins/survivalgames.68/) if you get any console errors or bugs on Genisys let me know and I will make a Genisys repo.

[2016-03-13 11:47] #17 closed

[2016-03-13 13:12] remotevase commented on #18
hmm... I will check like 294, but I may not find anything wrong

[2016-03-13 13:14] remotevase commented on #20
I will try to add grace period today, but it may not work out, so I will make "main2.php" and edit in there (so that the plugin is not majorly corrupted, lol)

[2016-03-13 13:36] MacHupTR commented on #20
@ImagicalGamer
![screenshot_2016-03-13-15-34-38-1](https://cloud.githubusercontent.com/assets/16403705/13728972/62f42b94-e931-11e5-992c-f44dd4f6458d.png)

Help me

[2016-03-13 13:52] remotevase commented on #20
screenshot_2016-03-13-15-34-38-1

Help me <

What are you using? Pocketmine? ImagicalMine? Genysis?

[2016-03-13 14:35] MacHupTR commented on #20
@remotevase pocketmine

[2016-03-13 14:37] ImagicalGamer commented on #20
@MacHupTR You can download from this repo now the issue is fixed.

[2016-03-13 14:39] MacHupTR commented on #20
@ImagicalGamer  THX :+1:

[2016-03-13 14:40] ImagicalGamer commented on #20
Use this: https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/V3.0.2

[2016-03-13 14:41] ImagicalGamer commented on #20
We have a test file on the repo that will cause the plugin to crash so only use the releases I issue.

[2016-03-13 20:47] ImagicalGamer commented on #22
Issue closed question answered.

[2016-03-13 20:47] #22 closed

[2016-03-13 20:49] ImagicalGamer commented on #20
New bug report issue thread thing. xP

[2016-03-13 21:58] kaitododoyt commented on #20
Can you change the [X Y Z] Spawns positions with -1 in Y coord. for better movement?. I change this in my config.yml and works better

[2016-03-13 22:02] kaitododoyt commented on #20
last build error:

syntax error, unexpected 'else' (T_ELSE) in phar://C:/Users/Kaito/Desktop/K                                                                                aito's Server/plugins/phar_SurvivalGamesV3-master_61fB9HViyYWgWAE.phar/src/SurvivalGames                                                                                V3/SurvivalGamesV3.php on line 149
[19:01:10] [Server thre

[2016-03-13 22:16] ImagicalGamer commented on #20
I will add that, the error you put was because it was a test build, there was a syntax error it is fixed now. It is only recommended  to run the latest release [HERE](https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/V3.0.2). It says there are 32 new commits but I keep it updated with the latest stable version.

[2016-03-13 22:18] ImagicalGamer commented on #20
0,0,-1 <- that what you meant? @kaitododoyt

[2016-03-13 22:19] ImagicalGamer commented on #20
Instead of 0,0 where it teleports 0,0,-1. That could fix the player jumping problem.

[2016-03-14 17:34] astersx opened #24 "Hi!"
I dont know how it work,  i set arena,  then i tp to spawn,  and after i die i tp to same world!!
I didnt do any setting, it loaded all auto

How to set join sign

[2016-03-14 19:04] astersx commented on #24
Oh,  fix it xd

[2016-03-14 19:05] astersx opened #25 "Request Items keep"
hi,  can i request to make a way so players wont lose items?

[2016-03-14 19:26] remotevase commented on #25
You can request it, but it probably will not be implemented. There are many reasons for this. <br>
1) If you gain blocks during the game, you would be able to build all over the spawn world
2) According to MCPE physics, when a player dies, they lose all of their items

[2016-03-14 19:28] astersx commented on #25
You cant break sg arena,  only items from chest, anyway i removed it alone :D

[2016-03-14 19:39] astersx opened #26 "On game start glich"
It seems that players are not stuck!!  they get pulled back,  but is like you walk with lag,  you should borrow code from a plugin with command /freeze!!!

And players attack each other with bows on game start,  is funny,  but i banned bows!!

Anyway great plugin,  is amazing and easy to set!!!

[2016-03-14 19:47] astersx commented on #26
And players after dead are not teleported to spawn,  for some reason!! I set a MagicTeleportal on spawnpoint so they tp on spawn this way :+1:

[2016-03-14 20:03] remotevase commented on #26
Yes, we are working on implementing the "freeze until match starts" but it may only come out in version 4 or 5... :(

[2016-03-14 20:04] remotevase commented on #25
lol, yeah

[2016-03-14 20:08] astersx commented on #26
Is all ok!!  Your plugin is still amazing!! Take your time,  and keep it alive !!  :)

[2016-03-14 20:12] astersx commented on #25
You should add a config,  with,  reset-items:true or false   .  Owners who have survival server and wanna to add a little action,  will can play game without being annoyed by inventory reset.

My server is survival and keepinventory is true (genysis)!  So on dead,  no drop items!!

[2016-03-14 20:16] ImagicalGamer commented on #26
The players teleport when they respawn, it sounds like your running Genisys. We added support but all these bugs happen on Genisys and I haven't been able to re-create them on ImagicalMine.

[2016-03-14 20:17] ImagicalGamer commented on #25
We will take that into consideration that is a good idea for the config.

[2016-03-14 20:19] #25 closed

[2016-03-14 20:20] ImagicalGamer commented on #26
Genisys is very buggy when running SGV3 and it's not recommended to use this plugin on it. I will fix the movement bug.

[2016-03-14 20:26] ImagicalGamer commented on #24
Delete SurvivalGamesV3 file if you don't have a sign placed before you set the arena

[2016-03-14 20:26] #24 closed

[2016-03-14 20:46] astersx commented on #26
Nono!!  If a player die,  he is teleported to arena spawn point!!  He is not going on lobby world,  becouse there is not config ;)

[2016-03-14 20:59] astersx commented on #24
Yes,  i learned all in hard way,  omg im so happy that a SG plugin is made :3!!!

[2016-03-15 00:16] ImagicalGamer commented on #26
The config has nothing to do with that, it's a Genisys bug. If you are fine withe this I will make it kick the player when they die so they respawn in the lobby world with Genisys.

[2016-03-15 00:17] ImagicalGamer commented on #26
I also apologize for the bugs you are experiencing we test this using ImagicalMine not Genisys so we don't find Genisys bugs.

[2016-03-15 00:19] ImagicalGamer commented on #26
What were you talking about with the bows? It gives them bows when the game starts?

[2016-03-15 02:54] kaitododoyt commented on #20
last version:

[Server thread/CRITICAL]: ReflectionException: "Class SurvivalGamesV3\PlayerJoinEvent does not exist" (EXCEPTION) in "/src/pocketmine/plugin/PluginManager" at line 704

[2016-03-15 10:22] astersx commented on #26
Nono!!!  Becouse i delleted inventory reset,  players use bows to kill others in freeze mode!!!
Cant you add godmode,  until game start?

[2016-03-15 14:40] remotevase commented on #20
Oopsies, small issue... Thats an easy fix, fixing it now

[2016-03-15 14:43] remotevase commented on #20
Hmm... line 704 doesn't even exist... @ImagicalGamer what's the problem here?

[2016-03-15 16:53] ImagicalGamer commented on #20
@remotevase it's the file you added, it causes that error. Please don't compile the plugin from the repo only USE the releases I publish on ImagicalMine forums.

[2016-03-15 16:57] ImagicalGamer commented on #20
An update will be released today.

[2016-03-15 16:59] ImagicalGamer commented on #26
Ah. That's not really our issue but I might be able to add that. Were trying to focus on bigger problems right now An grace period is being implemented and that will solve your issue.

[2016-03-15 18:12] astersx opened #27 "How many arenas can I have? [QUESTION]"
I see arena is saved in config,  how many arenas can i make? I just prepared a new map 😅

[2016-03-15 18:20] astersx commented on #26
Is ok,  players love gliches,  they think they are special,  like some hacker xd!!  All players from my sv love your plugin!!! Some rage at first,  wen they inventory reset xd!  Some are afraid!!   But i fixed and some really like it!!

Anyway inventory reset is not your fault,  i should have checked it first ;)!!!

And current gliches can be fixed, 'by building  some large spaces betwen players,

[2016-03-15 21:26] ImagicalGamer commented on #27
Unlim arenas.

[2016-03-15 21:27] ImagicalGamer commented on #26
I have it set so when players respawn it takes them to the hub.

[2016-03-15 21:28] ImagicalGamer commented on #26
But thanks for the support! Also whats your servers IP and port?

[2016-03-16 00:39] ImagicalGamer commented on #26
@astersx Download the latest version [HERE](forums.imagicalmine.net/plugins/survivalgames.68/download?version=129) now you won't need the portal!

[2016-03-16 00:40] ImagicalGamer commented on #20
Download latest update [HERE](forums.imagicalmine.net/plugins/survivalgames.68/download?version=129)! Bug fixes and **_FULL_** ranks have been implemented! @remotevase you said you were working on a grace period, is that in TestMain?

[2016-03-16 00:41] kaitododoyt opened #28 "Login Error"
Notice: Undefined variable: player in phar://C:/Users/Kaito/Desktop/kaito php7/plugins/SurvivalGamesV3.phar/src/SurvivalGamesV3/SurvivalGamesV3.php on line 65
[21:35:14] [Server thread/CRITICAL]: "No se pudo pasar el evento 'pocketmine\event\player\PlayerRespawnEvent' a 'SurvivalGamesV3 v3.0.3': Call to a member function teleport() on unknown en SurvivalGamesV3\SurvivalGamesV3"
[21:35:14] [Server

[2016-03-16 00:51] ImagicalGamer commented on #28
Genisys?

[2016-03-16 00:51] ImagicalGamer commented on #28
Use the one found [HERE](http://forums.imagicalmine.net/plugins/survivalgames.68/reviews#review-129-16). If your not already.

[2016-03-16 01:38] kaitododoyt commented on #28
[Server thread/CRITICAL]: ParseError: "syntax error, unexpected ';', expecting ',' or ')'" (EXCEPTION) in "/phar_SurvivalGamesV3-master_IDxLzckxlvktqLB.phar/src/SurvivalGamesV3/SurvivalGamesV3" at line 65

[2016-03-16 01:59] ImagicalGamer commented on #28
Are you running Genisys?

[2016-03-16 02:56] kaitododoyt commented on #28
no, pocketmine

[2016-03-16 05:26] MateiGamingYTB opened #29 "Add..."
add in match chat no public chat, match chat for in match players no server players

[2016-03-16 06:04] astersx commented on #26
buildmcpe.eu:19132

[2016-03-16 06:05] astersx commented on #29
Per world chat, use it!!

[2016-03-16 06:11] astersx commented on #28
Hi! It seems u made some sintax error,  u forgot to put  ) and ;   on line 65 and on other lines u put in place of ; u put -

[2016-03-16 06:13] astersx commented on #28
a example $this->getServer()->getDefaultLevel()->loadChunk($spawn->getFloorX(),

I dont think is right,  u missed )  and ;

you sould wach all lines and search for sintax problems ;)

[2016-03-16 06:14] astersx commented on #27
Cool,  thx ;)

[2016-03-16 06:16] astersx commented on #26
Link say error 404

[2016-03-16 07:18] astersx commented on #27
Dont work,  it overwrite my current arena,  and didnt let me to set up :(

[2016-03-16 07:27] astersx commented on #27
Oh no,  sometimes it have a error,  were it skip arena set up!! I need kick all players and retry until it works!! Anyway i did it :)

[2016-03-16 07:41] astersx commented on #27
Hi! How can OPs edit arena? I need set rank op? If so what command?

[2016-03-16 13:46] astersx commented on #28
Is sintax error,  test the plugin pls to see . Is not server fault,  im still using the one from yesterday xd!!!

[2016-03-16 13:50] astersx commented on #26
Hi!! Your plugin had no problems , it was mspawns at fault!!!  It keep others go to default spawn :0!!!

[2016-03-16 14:04] ImagicalGamer commented on #29
So you want chat disabled?

[2016-03-16 14:04] ImagicalGamer commented on #28
Issue solved.

[2016-03-16 14:04] #28 closed

[2016-03-16 14:06] ImagicalGamer commented on #27
Can't edit the arena after it has been made, disable SurvivalGamesV3 and arenas can be built on, then re-enable it. Or delete the SurvivalGamesV3 folder and build your arenas and set them again.

[2016-03-16 14:09] ImagicalGamer commented on #26
I just joined, cool server. I do see the movement issue your having. I'm fixing it now.

[2016-03-16 14:11] astersx commented on #29
He wanna that chat in survival to be local!!  But the plugin perworldchat fix that so all ok ;)

[2016-03-16 14:12] astersx commented on #27
Okay,  i knew that,  but i tought there was some op options!!  All is ok now ;)

[2016-03-16 14:12] #27 closed

[2016-03-16 14:14] ImagicalGamer commented on #26
Fixed! Player's can't turn their heads but they also cant leave their "plate".

[2016-03-16 14:15] astersx commented on #26
My sv is cool? Thx,  i alone work on it,  i only have a helper to kick trollers :)

About move glich,  take your time :),

[2016-03-16 14:16] ImagicalGamer commented on #26
Move glitch is fixed. =D.

[2016-03-16 14:17] astersx commented on #26
So fast =) , i will add now!!

[2016-03-16 14:17] ImagicalGamer commented on #29
Ah, I can implement that.

[2016-03-16 14:18] ImagicalGamer commented on #29
Less plugs = Less lagg so every plug that isn't needed helps.

[2016-03-16 14:19] ImagicalGamer commented on #26
Wait I'm making a release the TestMain file could corrupt the plug if you download the zip.

[2016-03-16 14:21] ImagicalGamer commented on #26
@astersx [HERE](https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/V3.0.3).

[2016-03-16 14:26] remotevase commented on #26
great!

[2016-03-16 14:26] #26 closed

[2016-03-16 14:28] remotevase commented on #20
Yup, in TestMain. Haven't committed changes yet, working on it on my own time

[2016-03-16 14:30] ImagicalGamer commented on #20
Sounds good. xD

[2016-03-16 14:37] astersx commented on #26
Im just editing the src files i download last :3,  thx for link!!!
And movement fixed , i cant think of more issues for now :)

[2016-03-16 14:39] astersx commented on #29
But for those who already use local chat, becouse i run many worlds hmm.....,  maybe they will interfere!!  :D

[2016-03-16 14:43] astersx opened #31 "Tip/Popup (feature)"
Hi! I use a plugin basicHud,  to show players money on screen (as u saw),  and hud and survivalgames use popup , so count and money,  interfere with each other,  can u show Tip instead of popup? add a config for that,  is not a must!!  So take your time!

[2016-03-16 14:45] ImagicalGamer commented on #31
Yes I can change it to tip.

[2016-03-16 14:52] ImagicalGamer commented on #31
Feature added.

[2016-03-16 14:52] #31 closed

[2016-03-16 14:52] astersx commented on #31
So fast :3

[2016-03-16 16:29] astersx commented on #20
Hi,  you can add grace period,  like how simpleAuth  do.  Uregistered players cant be killed!!!

[2016-03-16 16:39] astersx opened #32 "Wining!!!"
Hi! Just won a game , and i didnt get $  (i use EconomyApi),  and didnt got message "You win". !!
Anyway i dont need to money reward for game , just message ("You won!"). !!

[2016-03-16 16:46] astersx commented on #32
Another glich,  players can quit during combat and then come back to kill others,  i put Combat Logger,
The plugin who can 100% fix that is Always Spawn,  but i run survival Worlds so i dont use Always_Spawn :D

This is hard to fix,  so take your time,  becouse the game start as soon as someone tp to Arena!
But u can set that a player who appear in arena during the match to be killed xd.

[2016-03-16 16:47] ImagicalGamer commented on #32
Ok, I will fix the combat logging issue. You said the game starts as soon as someone enters the arena?

[2016-03-16 16:52] astersx commented on #32
I do /mw tp pvp    and then i join game  on world pvp spawn,  not on spawns sg sets.
But im counted as player.
Players wen die,  they press  main menu and then wen they login they are in game at full hp O.O!!!  They can come back from dead!!  Always Spawn fix that,  but i run Survival Worlds!!

[2016-03-16 16:53] ImagicalGamer commented on #32
I'm fixing the "dead players" glitch now. ManyWorlds TP's you to the world spawn it over rides the teleportation system in SurvivalGamesV3. Your players sure do like to find and exploit bugs xP.

[2016-03-16 16:56] astersx commented on #32
I even set warp here (only for ops),  and im still counted as player if i warp!!

You can test yourself,  not many players found. Main Menu Glich. xd

[2016-03-16 16:58] astersx commented on #32
I just saw on sign  minutes ago,  Running,  5/24,  after 5 seconds,  6/24,  after some tIme,  5/24.
Someone already found the bug,  but i guess he got bored trolling!!!

[2016-03-16 16:59] ImagicalGamer commented on #32
Anyone who joins the world is counted as a player of the game. I just fixed your issue publishing release now.

[2016-03-16 17:00] astersx commented on #32
I dont think remove a "use" will fix,  becouse in my maps if a player die,  he can use Main Menu and he is like no dead,  all Pocketmine have this glich!!

[2016-03-16 17:02] astersx commented on #32
I didnt see what code u added!!  Imma trying now :)

[2016-03-16 17:02] ImagicalGamer commented on #32
Use this: https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/V3.0.3

[2016-03-16 17:02] ImagicalGamer commented on #32
It teleports the player to the default world on PlayerLoginEvent

[2016-03-16 17:03] ImagicalGamer commented on #32
I did test it and it worked on ImagicalMine, but Genisys isn't full PHP7 and other bugs so idk what's gonna happen there. xP

[2016-03-16 17:13] astersx commented on #32
Not working,  i added the code like this
![screenshot_2016-03-16-19-18-54](https://cloud.githubusercontent.com/assets/13157548/13821663/331e78bc-ebab-11e5-85b6-c6aaa730a0d1.png)

[2016-03-16 17:15] astersx commented on #32
This is....
![screenshot_2016-03-16-19-20-35](https://cloud.githubusercontent.com/assets/13157548/13821705/5de10e02-ebab-11e5-90bf-ef5cfddf1643.png)

[2016-03-16 17:21] astersx commented on #32
If you cant fix for Genisys,  i can resume  Magic TelePortal  plan :),  set spawn with MSpawns and all who relogin will tp in spawn,  inside the teleportal!!

[2016-03-16 17:36] ImagicalGamer commented on #32
What error are you getting if any?

[2016-03-16 17:37] ImagicalGamer commented on #32
You can use that until I get that fixed.

[2016-03-16 17:37] ImagicalGamer commented on #32
@remotevase PlayerLoginEvent isn't working for Genisys any ideas?

[2016-03-16 18:03] astersx commented on #32
Im not getting errors, is just that im still in the map after i relogin!!

[2016-03-16 18:12] astersx commented on #32
Error: Can't use method return value in write context
File: /surv.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 71
Type: E_COMPILE_ERROR

THIS CRASH WAS CAUSED BY A PLUGIN
此次出错由插件引起

Code:
[62]         $spawn = $this->getServer()->getDefaultLevel()->getSafeSpawn();
[63]         $this->getServer()->getDefaultLevel()->loadChunk($spawn->getFloorX(), $spawn->getFloorZ());
[64]  $player->teleport($spa

[2016-03-16 18:16] erkam2002 commented on #32
Genisys Crash Dump Wed Mar 16 18:14:33 UTC 2016

Error: Can't use method return value in write context
File: /SG.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 69
Type: E_COMPILE_ERROR

THIS CRASH WAS CAUSED BY A PLUGIN
此次出错由插件引起

Code:
[60] 	}
[61]
[62] 	Public function playerDeath($spawn) {
[63]         $spawn = $this->getServer()->getDefaultLevel()->getSafeSpawn();
[64]         $this->getServer

[2016-03-16 18:17] erkam2002 commented on #20
Genisys Crash Dump Wed Mar 16 18:14:33 UTC 2016

Error: Can't use method return value in write context
File: /SG.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 69
Type: E_COMPILE_ERROR

THIS CRASH WAS CAUSED BY A PLUGIN
此次出错由插件引起

Code:
[60] 	}
[61]
[62] 	Public function playerDeath($spawn) {
[63]         $spawn = $this->getServer()->getDefaultLevel()->getSafeSpawn();
[64]         $this->getServer

[2016-03-16 18:20] ImagicalGamer commented on #20
It clearly said don't download. Error being fixed.

[2016-03-16 18:23] ImagicalGamer commented on #32
Download the latest release.

[2016-03-16 18:24] ImagicalGamer commented on #32
Never download the ZIP file and compile it only download from [HERE](http://forums.imagicalmine.net/plugins/survivalgames.68/) or [HERE](https://github.com/ImagicalGamer/SurvivalGamesV3/releases)

[2016-03-16 18:25] remotevase commented on #20
Goodness, @astersx I have said, multiple times, might I add, that I am working on the grace period.

[2016-03-16 18:25] ImagicalGamer commented on #32
@astersx Preventing the player from leaving and re-joining in the arena would do the same thing as Always Spawn and it would do it to all players.

[2016-03-16 18:26] #29 closed

[2016-03-16 18:27] ImagicalGamer commented on #20
@erkam2002 This plugin was made for ImagicalMine, there are Genisys errors that I cannot fix without causing ImagicalMine errors. (I tried)

[2016-03-16 18:27] remotevase opened #33 "GRACE PERIOD BEING ADDED!!!"
Many people are asking about this, so I created this issue for everyone to talk about it.
For your information, I am adding a grace period, but it is HIGHLY UNSTABLE, so it is not in the main php file. This may not come out for quite a while

[2016-03-16 18:27] astersx commented on #32
I only apply the codes u add on source file i downloaded first :)

[2016-03-16 18:28] ImagicalGamer commented on #33
Better xD.

[2016-03-16 18:28] ImagicalGamer commented on #32
Download from https://github.com/ImagicalGamer/SurvivalGamesV3/releases <- there.

[2016-03-16 18:29] remotevase commented on #20
@ImagicalGamer should we make a seperate branch for genysis?

[2016-03-16 18:29] ImagicalGamer commented on #32
And for now if your having the issue with Genisys using mspawns and a portal will work until we can fix genisys issues.

[2016-03-16 18:30] ImagicalGamer commented on #20
@remotevase Probs. I'll test a Genisys version of it now to see what bugs there are and fix some.

[2016-03-16 18:30] astersx commented on #32
Okay :)

[2016-03-16 18:32] remotevase opened #34 "Genisys Bug Report!"
For those of you wondering what's going on with genisys, A new branch was just created in order to fix "genisys only" issues

[2016-03-16 18:35] astersx commented on #32
Just to know, relogin not fixed for genisys righ?  Just add "Relogin Fixed For genisys" so i can kow if is fixed, now i use mspawns+ MagicTeleportal!

[2016-03-16 18:36] ImagicalGamer commented on #32
Re-Login is not fixed for genisys yet.

[2016-03-16 18:36] astersx commented on #34
Cool!!!!

[2016-03-16 18:39] remotevase commented on #34
Yup! Now we can fix the relogin issue! @ImagicalGamer sorry, but I only work on ImagicalMine but not Genisys

[2016-03-16 18:40] ImagicalGamer commented on #34
=D It's fine. Re-Login issue being fixed now!

[2016-03-16 18:43] astersx commented on #34
There is a issue were you spawn in same area as your enemy,  is so funny wen u see others in same spawn and kill each other =)),  i did nothing wrong on settings,  it happen for long time but i tought is my fault.

Now after i remake arenas,  i see this issue not my fault (maybe genisys)

[2016-03-16 18:44] ImagicalGamer commented on #34
Genisys's fault. What other bugs/errors need to be fixed for Genisys?

[2016-03-16 18:48] astersx commented on #34
Thats all for now!! i will test for other gliches  😊

[2016-03-16 18:58] #32 closed

[2016-03-16 19:01] ImagicalGamer commented on #34
Players can't leave during a match and join in the arena!
Update was tested on Genisys 1.1dev-154 [DOWNLOAD HERE](https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/Genisys)

[2016-03-16 19:02] ImagicalGamer commented on #20
Genisys updated! ImagicalMine version also updated! Prevents the possibility of IM players seeing that issue.

[2016-03-16 19:05] remotevase commented on #20
lol yay! not many issues being reported...

[2016-03-16 20:53] astersx commented on #34
I got the source code,  i will try later :+1:

[2016-03-16 21:27] MateiGamingYTB opened #35 "How to create server with buildmcpe?"

[2016-03-16 21:39] ImagicalGamer commented on #35
BuildMCPE is a server, not a host.

[2016-03-16 21:39] #35 closed

[2016-03-17 07:21] EpicSteve33 opened #36 "Chests"
So only chests at spawn are refilled is this a bug or do I have to fly around the map and use a command on the chests

[2016-03-17 07:24] EpicSteve33 commented on #36
Otherwise this plugin runs really smooth I'm surprised this is the best sg plugin out there that ive ever used

[2016-03-17 12:57] ImagicalGamer commented on #36
Yes, only the spawn chests refill. I can possibly make all chests refill and am working on random items to fill the chests. Thanks for the support!

[2016-03-17 14:16] EpicSteve33 commented on #36
Well if you get chests to work this will officially be the best sg plugin on pocketmine also I have one more request can u add waiting text because that would be cool to see while waiting for the game to start kinda like lbsg does

[2016-03-17 14:18] EpicSteve33 commented on #36
Oh and there is no winning message so players do not know if they won or not

[2016-03-17 14:19] ImagicalGamer commented on #36
That's strange are you on Genisys or ImagicalMine?

[2016-03-17 14:19] EpicSteve33 commented on #36
I am on genisys

[2016-03-17 14:19] erkam2002 commented on #36
@ImagicalGamer  look at my pull request

[2016-03-17 14:20] ImagicalGamer commented on #36
@erkam2002 thanks for the grammer fixes. @EpicSteve33 fixing Genisys issues now be sure to download from the Genisys branch.

[2016-03-17 14:22] EpicSteve33 commented on #36
Oh ok Thanks

[2016-03-17 14:36] ImagicalGamer commented on #36
https://github.com/ImagicalGamer/SurvivalGamesV3/tree/Genisys Download and compile that at pmt.mcpe.me and it should be fixed.

[2016-03-17 14:59] kaitododoyt opened #38 "Error in ranks"
In Setrank code:

if($rank == "§b[§aVIP§4+§b]")
						{
							$player->getInventory()->setContents(array(Item::get(0, 0, 0)));
							$player->getInventory()->setHelmet(Item::get(Item::CHAIN_HELMET));
							$player->getInventory()->setChestplate(Item::get(Item::CHAIN_CHESTPLATE));
							$player->getInventory()->setLeggings(Item::get(Item::CHAIN_LEGGINGS));
							$player->getInventory()->setBoo

[2016-03-17 15:01] ImagicalGamer commented on #38
Thanks! I didn't see that, fixing now.

[2016-03-17 15:02] #38 closed

[2016-03-17 15:02] ImagicalGamer commented on #36
Issue should be fixed, taking chest refill into consideration

[2016-03-17 15:02] #36 closed

[2016-03-17 15:11] kaitododoyt opened #39 "Players can't turn heads on plates"
Man you changed something that makes players can not turn around on the spawn, and i have a question, why in the end isn't possible see the winner message?.
Sorry for my english and thanks for you job in this.

[2016-03-17 15:37] ImagicalGamer commented on #39
When on their plate it cancels all movement events it was to fix a Genisys issue where players can walk off plates. Were working on the win message issue, were not sure what causes it to not show. @remotevase any ideas? It's not showing the "You Won" message.

[2016-03-17 16:22] remotevase commented on #39
Hmmm... I don't know...

[2016-03-17 16:42] ImagicalGamer commented on #39
I think it's a Genisys bug. It's random on IM it will either send a chat message or a popup.

[2016-03-17 16:44] astersx commented on #39
Anyway i plan to move on IM!!  Genisys cant hold 60+ players without lag!!  I even use SSD ;-;

[2016-03-17 16:49] ImagicalGamer commented on #39
=/ IM was built for speed, I can easily hold 60+ players on 4GB of ram with IM, Genisys will hold 60+ but there will be huge lagg spikes.

[2016-03-17 17:33] ImagicalGamer commented on #39
@astersx what host do you use for BuildMCPE or do you use a VPS?

[2016-03-17 18:12] astersx commented on #39
i used a xen before,  now i use kvm,  yep vps!!

[2016-03-17 18:13] astersx commented on #39
But i have survival maps,  and they are big!!  Maybe mining, breaking,  saving, will cause lots of lags?

[2016-03-17 18:25] ImagicalGamer commented on #39
Nope, I would suggest not using TimeCommander to save maps. Allow it to auto save on server restarts to reduce lag spikes.

[2016-03-17 18:41] astersx commented on #39
I only use timeCommander to clear entityes!!  I run 7 worlds,  maybe this is a problem 😅

[2016-03-17 18:45] ImagicalGamer commented on #39
xD lol I am running 13 worlds on a DEV server using ImagicalMine with 8GB of RAM 2 cores and were running smoothly.

[2016-03-17 19:09] erkam2002 commented on #39
i have a 3gb ram and octa core cpu intel i7

[2016-03-17 20:02] astersx commented on #39
sounds so good!!!  But genisys say is php7 fault!!  Sooo!! i will test imagical,  hope for better results 😄

[2016-03-17 20:09] ImagicalGamer commented on #39
What's PHP7 fault? The bugs in plug? They only happen when running Genisys and PHP7 so it's a mix Genisys still has PHP5 support IM only supports PHP7.

[2016-03-17 22:52] astersx commented on #39
Yep,  it seems,  whats wrong in Imagical,  are pulls back,  and kick for flying!!
But pulls back good for speed hackers,  and fly kick...  is bad,  only fly pull i wanna but no kick!!

[2016-03-17 22:54] astersx commented on #39
This is offtopic,  can you fix keepinventory to work in imagicalmine? It always give error in console,  and is disturbing :(   !!

[2016-03-17 22:58] ImagicalGamer commented on #39
In pocketmine.yml disable AntiFly and search for AntiFly by Lambo.

[2016-03-17 22:59] ImagicalGamer commented on #39
@remotevase Grace period?

[2016-03-17 23:12] astersx commented on #39
Lambo antifly still working?

[2016-03-17 23:52] ImagicalGamer commented on #39
I'll fix it later.

[2016-03-17 23:52] ImagicalGamer commented on #39
It's a simple change of a #.

[2016-03-17 23:56] remotevase commented on #39
@ImagicalGamer got the code. Gonna add a commit, then create a branch just for now. Then, we will test it, and then delete that branch. After THAT, we will publish the new update! Will be done tomorrow!

[2016-03-18 08:47] astersx opened #41 "ReadMe"
Hi! I dont have grace period!! I edit only clear inventory xd!

[2016-03-18 09:26] astersx commented on #41
I added,  if time == 20,  The Game Will Start Soon!!

[2016-03-18 09:29] #41 closed

[2016-03-18 13:40] ImagicalGamer commented on #39
@remotevase you need to define $starttime

[2016-03-18 14:32] remotevase commented on #39
oh, lol oops

[2016-03-18 14:45] remotevase commented on #33
@ImagicalGamer Fixed it!

[2016-03-18 16:12] astersx opened #42 "2 players in same spawn"
It happened  just now on IM

[2016-03-18 16:29] ImagicalGamer commented on #42
That's strange @remotevase could it be caused by the grace period?

[2016-03-18 16:31] ImagicalGamer commented on #42
Confirmed bug with IM users.

[2016-03-18 16:31] #39 closed

[2016-03-18 16:36] ImagicalGamer commented on #42
@astersx download [THIS](https://www.mediafire.com/?uk6vc3ij2gss1zi) it is ImagicalMine stable.

[2016-03-19 01:09] austina1212 opened #43 "Did not tp to spawn when I won!"
It is really amazing what you have fixed to my PLUGIN :D but I did not tp to spawn when I won a game and the game doesn't end when there is no players in it I am running genisys also add my server to the test server board it is currently whitelisted but IP is Play.CubedPlay.net!

[2016-03-19 03:02] remotevase commented on #42
Shouldn't be affected by grace period. 24 people can join a match, but there aren't 24 spawn pedestals. Therefore, multiple people must be on one pedestal...

[2016-03-19 03:03] remotevase commented on #43
1) Genesis, you said?
2) won't add your server to test because it's whitelisted. Unwhitelist it.

[2016-03-19 03:15] austina1212 commented on #43
Yea... You kinda have to add it to test list the first version of this plugin was made by me... :D please add it :D also tell ImagicalGamer that MyNameIsAnti did not steal it :) he helped me a lot :)

[2016-03-19 14:39] ImagicalGamer commented on #43
Sup. I can add your server (creator credits). There is a bug where when the second to last person dies (then we have a winner) it doesn't teleport the winner until the loser who died respawns.

[2016-03-19 15:04] remotevase commented on #43
oops lol! forgot that u were original creater of plugin. we will add ur server. thought you were some random person

[2016-03-19 15:05] remotevase commented on #33
oops, I didnt add grace period. I just readded a feature that was already there! XD

[2016-03-19 15:05] remotevase commented on #33
the "starting in 30 seconds" etc. thing

[2016-03-19 15:11] blui22 opened #44 "Game does not restart."
I am running the latest version of IM and the game will not end. It just keeps repeating Game ending in 1 seconds....

[2016-03-19 15:14] remotevase commented on #44
Can anybody else confirm this?

[2016-03-19 16:28] remotevase commented on #33
I think I just added the correct code. Players do not take damage for 300 ticks, which is equivalent to 15 seconds! @ImagicalGamer Tell me if there are any bugs... Comment on the commit. Other than that, this is added!!!

[2016-03-19 18:37] ImagicalGamer commented on #33
I'll test it now!

[2016-03-19 18:37] ImagicalGamer commented on #44
Not a confirmed bug re-make your arena.

[2016-03-19 18:38] ImagicalGamer commented on #43
xD. Issues being fixed.

[2016-03-19 18:38] #43 closed

[2016-03-19 18:39] #42 closed

[2016-03-19 18:39] #34 closed

[2016-03-19 18:40] ImagicalGamer commented on #33
Not working $starttime is still undefined.

[2016-03-19 18:41] remotevase commented on #33
not in that branch, silly! In master branch! The code I committed doesnt crash the server, so its in Main Branch in the Main file!

[2016-03-19 18:44] ImagicalGamer commented on #33
I downloaded master branch.

[2016-03-19 18:45] remotevase commented on #33
are you sure? Try it again!

[2016-03-19 18:51] ImagicalGamer commented on #33
I'm looking at syntax errors on pmt.mcpe.me.

[2016-03-19 18:52] remotevase commented on #33
okay! Hope there arent too many!

[2016-03-19 18:56] ImagicalGamer commented on #33
Just the undefined variable.

[2016-03-19 18:57] remotevase commented on #33
In TestMain?

[2016-03-19 18:58] remotevase commented on #33
Just fixed undefined variable

[2016-03-19 19:09] ImagicalGamer commented on #33
Ok good testing now.

[2016-03-19 19:10] remotevase commented on #33
yay!

[2016-03-19 19:12] ImagicalGamer commented on #33
@remotevase can you join dev.narwhalcraft.net 26625 to test it with me? I need 2 players.

[2016-03-19 19:13] ImagicalGamer commented on #33
lol def need to fix the move event to make sure they r on the ground.

[2016-03-19 19:13] ImagicalGamer commented on #33
I know what dat is.... Fixing.

[2016-03-19 19:16] remotevase commented on #33
I will join that server now. I will stay on until you we are done testing!

[2016-03-19 19:16] ImagicalGamer commented on #33
Oke thx.

[2016-03-19 19:20] remotevase commented on #33
simple fix, not too hard...

[2016-03-19 19:25] ImagicalGamer commented on #44
That was caused by our time mix up with the grace period, xD it added 300 ticks to the game when there was 1 second left making the game infinite, issue fixed now.

[2016-03-19 19:25] #44 closed

[2016-03-19 20:31] remotevase commented on #44
XD that issue was hilarious

[2016-03-20 14:59] erkam2002 commented on #20
https://www.dropbox.com/s/i06un9dtnecs9gr/MP_SWorldEditor.phar?dl=0

[2016-03-20 14:59] ImagicalGamer commented on #20
Thx.

[2016-03-20 15:04] remotevase commented on #20
cool, thanks. IDK why that was brought up in here, but I like it!

[2016-03-20 16:09] kaitododoyt commented on #20
Players in same spawn:

this occurs when players join(2 or more), then a first player leaves the game and when reenters appears in the same place where there is already someone.

[2016-03-20 16:22] remotevase commented on #20
oh, yes. that makes sense. I don't think there is a way to fix that...

[2016-03-20 16:22] ImagicalGamer commented on #20
Ah, that makes sense SG saves some player data.

[2016-03-20 16:22] remotevase commented on #20
well, we won't change the player data XD

[2016-03-20 16:26] ImagicalGamer commented on #20
after we get grace period we could possibly fix this. When the player hits the sign we would have to get the XYZ of the plate and check if any players are there.

[2016-03-20 16:29] remotevase commented on #20
oh. so tough... well, thats why there are two of us! (actually 3, if you include @austina1212)

[2016-03-20 16:31] ImagicalGamer commented on #20
Yep!

[2016-03-20 16:32] ImagicalGamer commented on #20
Debating if I publish my SkyWars plug or not, (remake of dis with world restore).

[2016-03-20 16:34] remotevase commented on #20
you should. Same basis for this code can be used for many, many things

[2016-03-20 23:06] EpicSteve33 opened #49 "Chests (Genisys Only)"
Players cannot open chest unless they are op, also love the improvements on the plugin recently

**_PM Version:_** Genisys

**_Operating system:_** Linux Mint

[2016-03-20 23:53] EpicSteve33 commented on #49
Maybe if you add an option to have player break block or not it would help me because I have a plugin that protects everything

[2016-03-20 23:55] EpicSteve33 commented on #49
Like in config

**_Break Block:_** True/False

[2016-03-21 01:25] remotevase commented on #49
Okay, not overly hard, but changes would apply to all worlds, not just the sg works

[2016-03-21 01:28] ImagicalGamer commented on #49
The chests aren't our issue,  one of the other plugs you have is interfering with it. No where in our code does it use chests except for adding items to them which couldn't cause this issue.

[2016-03-21 01:59] EpicSteve33 commented on #49
That's strange because I removed this code and I was able to open chests with a non op account if I put it back then the chests act as if they are locked

[code]

[2016-03-21 02:01] EpicSteve33 commented on #49
I have no plugins that mess with chests maybe if you add something in the config to disable this it will make it more helpful because I don't like editing plugin code its just more convenient that way

[2016-03-21 02:02] EpicSteve33 commented on #49
Oops

[2016-03-21 12:13] blui22 opened #51 "Join SG glitch [GENYSIS ONLY (So Far"
So I have a player that joins then hits the join sign. When in the game quit to title then join again in a few miniutes. That player get the in game messages such as 8 minutes til death match. Also in death match when a player kills the last player and the last player taps Main Menu the winning player stays in the arena

[2016-03-21 14:41] remotevase commented on #51
What Server Provider are you using? PocketMine, Genysis, ImagicalMine, ClearSky?
No one else has gotten this issue...

[2016-03-21 14:48] Driesboy commented on #51
genisys i think so

[2016-03-21 14:49] remotevase commented on #51
Double check, please. I work on PocketMine, ImagicalMine, and ClearSky. If it's Genisys, what version are you using? I think we fixed this a while ago...

[2016-03-21 14:51] remotevase commented on #33
so, we done testing? It works? @ImagicalGamer I will be available for testing in 5 hours...

[2016-03-21 15:19] EpicSteve33 commented on #51
I have the death issue in genisys also I download the latest genisys off git everyday

[2016-03-21 16:25] Driesboy opened #52 "The game runs with 0 people [GENYSIS ONLY]"

[2016-03-21 18:56] blui22 commented on #51
It's IM

[2016-03-21 18:57] blui22 commented on #51
I am using Imagical Mine

[2016-03-21 18:58] blui22 commented on #52
I have the same issue but ipthe game is running with one player.i am using  ImagicalMine

[2016-03-21 19:32] remotevase commented on #51
Really? The plugin works fine on ImagicalMine, and this bug doesn't exist. I have tried it on 3 servers with no errors. Are you sure you are using the latest version?

[2016-03-21 19:33] remotevase commented on #52
@blui22 you MUST be using some other server provider. All of the issues that you are reporting are not real issues in ImagicalMine.

[2016-03-21 20:07] blui22 commented on #51
Oh I have the Genesis version on ImagicalMine! Silly mistake!

[2016-03-21 20:22] ImagicalGamer commented on #52
That isn't our issue the world is either corrupted or not loaded, delete the sign and the SurvivalGamesV3 folder and re-make the arena.

[2016-03-21 20:24] ImagicalGamer commented on #51
That's a Genisys issue, the player's data file shows that he/she is still in the arena.

[2016-03-22 00:46] EpicSteve33 opened #53 "Syntax Error"
Idk what is going on it was working fine then this happend

`[Server thread/CRITICAL]: ParseError: "syntax error, unexpected 'else' (T_ELSE)"  at line 418`

[2016-03-22 00:51] remotevase commented on #53
ImagicalMine? PocketMine? Genysis? ClearSky?

[2016-03-22 00:51] EpicSteve33 commented on #53
Genisys

[2016-03-22 01:04] EpicSteve33 commented on #53
Should I try ImagicalMine?

[2016-03-22 01:07] EpicSteve33 commented on #53
nvm I cant all my plugins have older APIs

[2016-03-22 02:33] Taki21 commented on #53
Oops....Ill see error

[2016-03-22 03:09] EpicSteve33 commented on #53
do u know how to fix it?????

[2016-03-22 05:38] Driesboy commented on #52
not working and it work with other minigames

[2016-03-22 11:22] Taki21 commented on #53
yes! About to fix

[2016-03-22 11:26] #53 closed

[2016-03-22 11:26] Taki21 commented on #53
This is now fixed :D

[2016-03-22 11:27] Taki21 commented on #49
ill fix soon

[2016-03-22 11:30] Taki21 commented on #49
Works for me but, these functions: onBreak and OnPlace do not depend on opening the chests!
Probably its a bug with Genisys? Never used it btw

[2016-03-22 11:33] Taki21 commented on #52
Lets Face it....Genisys and ImagicalMine are kinda different in some parts of code! So dont expect this to work 100% well with Genisys! It was mainly built for the simple ImagicalMine....

[2016-03-22 14:24] EpicSteve33 commented on #53
I guess I caused it XD

[2016-03-22 14:35] remotevase commented on #52
Actually, @Taki21 we have a Genysis branch devoted to Genysis coding

[2016-03-22 14:47] ImagicalGamer commented on #52
Issue closed, world isn't loaded or is corrupted.

[2016-03-22 14:47] #52 closed

[2016-03-22 19:17] Taki21 commented on #53
lol

[2016-03-22 19:18] Taki21 commented on #52
ik but i was thinking its mainly for ImagacilMine

[2016-03-22 19:25] EpicSteve33 commented on #53
I will test it when I get home later tonight :)

[2016-03-22 19:51] ImagicalGamer commented on #52
Genisys issue, this has been reported at least 5 times and I can't re-create it on IM onlt Genisys.

[2016-03-23 16:13] blake0201 opened #54 "/sg not working"
/sg not working it says invalid peramiters (i know my spelling is bad)

[2016-03-23 16:25] ImagicalGamer commented on #54
Do /sg create [world]

[2016-03-23 19:55] remotevase commented on #54
I'm pretty sure this was fixed in the latest update

[2016-03-24 01:05] EpicSteve33 commented on #54
same issue but its prolly genisys

[2016-03-24 01:07] EpicSteve33 commented on #54
@blake0201 what version of PM are you Using?

[2016-03-24 01:08] ImagicalGamer commented on #54
xD it's not an issue I never added the help menu to the Genisys branch xD.

[2016-03-24 01:10] EpicSteve33 commented on #54
i'm using the main branch

[2016-03-24 01:16] EpicSteve33 commented on #54
oh it works but you need op to see anything I was using my non op account

[2016-03-24 02:26] EpicSteve33 opened #57 "Should Have Message When Start"
You guys should add this message to appear in chat when counter hits 0
I would but  I broke it when I tried

`$this->sendToAll("§7[§fS§4G§7] §7let the games begins");`

Message in Chat
**[SG] Let the Games Begin **

[2016-03-24 02:30] remotevase commented on #57
1) That is incorrect coding of php
2) What version of PM are you using. Supposed to show up...

[2016-03-24 02:31] EpicSteve33 commented on #57
Genisys and I was Using code from my old plugin as an example

[2016-03-24 02:34] remotevase commented on #57
Oh, that code may work in Genysis just not IM or PM or CS

[2016-03-24 02:35] remotevase commented on #57
Lol, tapped wrong (mobile device)

[2016-03-24 02:36] EpicSteve33 commented on #57
Well I couldnt get it to work but I just want a popup in chat so players know the game has started

[2016-03-24 02:36] EpicSteve33 commented on #57
not a popup but a message in chat

[2016-03-24 08:18] EpicSteve33 commented on #57
If I added this to line 411 would it work

[code]

[2016-03-24 08:19] EpicSteve33 commented on #57
I'm still a beginner at php so I'm not exactly the best at it

[2016-03-24 10:59] remotevase commented on #57
Basically. Thing is: we have a variable for [SG] to make it easier

[2016-03-24 11:18] Taki21 commented on #57
sendToAll can be coded as a function btw

[2016-03-24 12:13] ImagicalGamer commented on #57
sendToAll would broadcast to all worlds?

[2016-03-24 14:44] remotevase commented on #57
probably

[2016-03-24 20:13] Taki21 commented on #57
sendToAll() is not API function....Its gotta be coded manually

[2016-03-24 20:15] Taki21 commented on #57
like
use
`public function sendToAll(){
   foreach($world->getPlayers() as $players){
      $players->sendPopup("Hi!");
   }
   return;
}

[2016-03-24 20:17] EpicSteve33 commented on #57
But would that send a message in chat cuz it would look better in chat

[2016-03-24 20:19] Taki21 commented on #57
then do
sendMessage instead of sendPopup

[2016-03-24 20:49] applqpak commented on #57
@Taki21 why all the extra, useless code?

public function sendToAll($message)
{

  $this->getServer()->broadcastMessage($message);

}

Add that, so now anywhere in you plugin you can just do $this->sendToAll("Hello!");

[2016-03-24 20:56] Taki21 commented on #57
no he means in the game that why i put dat code
its gonna be funny with people not playing SG

[2016-03-24 22:15] EpicSteve33 commented on #57
If I used this would it work?

[code]

[2016-03-24 22:19] EpicSteve33 commented on #57
Like something like this?

[code]

[2016-03-24 23:15] Taki21 commented on #57
take out return srry

[2016-03-25 00:01] applqpak commented on #57
@Taki21 Erhm.. What?

[2016-03-25 00:04] Taki21 commented on #57
since hes not using as a function xD

[2016-03-25 00:04] Taki21 commented on #57
wait....remove sendToAll

[2016-03-25 00:04] Taki21 commented on #57
sorry like this
foreach($world->getPlayers() as $players){
$players->sendMessage("§7[§fS§4G§7] §7let the games begins");
}

if($timeToStart<=0)
{
                              $player->sendToAll("§7[§fS§4G§7] §7let the games begins");
                              $this->refillChests($levelArena);
                              $this->refillChests($levelArena)
}
                  $config->set($aren

[2016-03-25 15:39] blake0201 commented on #54
@EpicSteve33 latest
@ImagicalGamer Oh LOL XD
@EpicSteve33 Oh

[2016-03-25 18:47] ImagicalGamer commented on #57
foreach $playersarena as $p1
{
$p1->sendTip(TextFormat::GREEN . "Let the games begin!";
}
That will work because we used to have that exact same code in there but I removed it (caused chat lagg for some reason)

[2016-03-25 19:02] Taki21 commented on #57
sendTip???? Not a API function???

[2016-03-25 19:13] ImagicalGamer commented on #57
Tip or Popup either worked for me.

[2016-03-25 19:13] ImagicalGamer commented on #57
I used tip because someone had basic hud and it used popups.

[2016-03-25 19:17] Taki21 commented on #57
oh lol

[2016-03-26 08:06] erkam2002 opened #58 "Can you make all comits to Genisys branch?"

[2016-03-26 11:07] remotevase commented on #58
No.

[2016-03-26 11:07] #58 closed

[2016-03-27 14:39] #51 closed

[2016-03-27 14:40] #20 closed

[2016-03-27 14:40] #33 closed

[2016-03-27 14:42] remotevase commented on #33
Why closed? It works?

[2016-03-27 14:53] Taki21 commented on #51
@ImagicalGamer
I think we should remove support for Genesyis???

[2016-03-27 14:54] Taki21 commented on #51
We're getting invalid Issues and it's genesyis  fault if it malfunctions....not this plugin, this plugin is fully working

[2016-03-27 14:55] #49 closed

[2016-03-27 14:55] Taki21 commented on #49
fixed???

[2016-03-27 14:56] Taki21 commented on #54
ok lol no more issues! : D

[2016-03-27 14:56] #54 closed

[2016-03-27 14:56] remotevase commented on #51
No. The main branch already removed genysis support. The genysis branch removed pocketmine and imagicalmine support

[2016-03-27 14:57] Taki21 commented on #51
o_0 whaah Speak in Taki Language plz xD

[2016-03-27 14:59] remotevase commented on #51
lol

[2016-03-27 15:06] ImagicalGamer commented on #51
@Taki21 the main branch won't work with Genisys.

[2016-03-27 15:07] remotevase commented on #51
So that's taki language!

[2016-03-27 15:37] ImagicalGamer commented on #51
Yep xD.

[2016-03-28 13:22] remotevase commented on #57
Still locked and limited, but reopened so we can add it...

[2016-03-28 19:56] stoastye85 opened #61 "Registering spawn points"
When I do start the command everything is fine. As soon as I begin setting spawn points the numbers are out of sequence. Then it doesnt let me set spawn point for deathmatch. Please help I am more than happy to donate. I am running pocketmine genisys. Thank you.

Sheilaeisfun@gmail.com

[2016-03-28 22:48] remotevase commented on #61
This may not be fixed for a while, because @ImagicalGamer is our genysis manager, but he's taking a short break.

[2016-03-28 23:15] stoastye85 commented on #61
Ok thanks foe the reply
On Mar 28, 2016 5:48 PM, "remotevase" <notifications@github.com> wrote:

[2016-03-29 00:06] stoastye85 commented on #61
Also I am trying to download plugins from..

https://forums.imagicalmine.net/plugins/survivalgames.68/

Although it is telling me download unavailable on the actual download
button. Please help. Thank you.
On Mar 28, 2016 6:15 PM, "She she" <stoastye85@gmail.com> wrote:

[2016-03-29 00:32] applqpak commented on #61
Is he taking a break?

[2016-03-29 01:20] ImagicalGamer commented on #61
@applqpak I'm taking a break from SGV3 to finish a few other things and do some stuff for 4LifeCraft were launching 3 new servers.

[2016-03-29 01:28] applqpak commented on #61
Oke.

[2016-03-29 09:52] XiangZhao969 opened #62 "Crashdump"
ImagicalMine Crash Dump Tue Mar 29 16:48:19 ICT 2016

Error: syntax error, unexpected 'public' (T_PUBLIC)
File: /SGv3.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 82
Type: notice

THIS CRASH WAS CAUSED BY A PLUGIN

Code:
[73]         $light->speedY = 0;
[74]         $light->speedZ = 0;
[75]         $light->x = $p->x;
[76]         $light->y = $p->y;
[77]         $light->z = $p->z;
[78]         $p

[2016-03-29 13:00] ImagicalGamer commented on #62
Did you modify the plugin?

[2016-03-29 13:37] remotevase commented on #62
No, this was from the latest commits... going to fix now

[2016-03-29 15:11] ImagicalGamer commented on #61
If your holding an item in your hand it will cause this issue btw.

[2016-03-29 17:55] stoastye85 commented on #61
Tha k you
On Mar 29, 2016 10:11 AM, "Jake" <notifications@github.com> wrote:

[2016-03-29 19:13] remotevase commented on #61
Hmmm... Interesting... wonder why?

[2016-03-29 19:15] stoastye85 commented on #61
I set point empty handed and it works perfectly.  Thanks a million
On Mar 29, 2016 2:13 PM, "remotevase" <notifications@github.com> wrote:

[2016-03-29 20:40] ImagicalGamer commented on #61
It's a PM issue, PocketMine registers that as a tap and the hand as a tap so it will double set spawns or go out of order.

[2016-03-30 01:14] EpicSteve33 commented on #62
@XiangZhao969 Sorry That was My fault Here ya go this should fix it

https://github.com/ImagicalGamer/SurvivalGamesV3/pull/63

[2016-03-30 01:15] EpicSteve33 commented on #62
@remotevase @ImagicalGamer one of you should merge it

[2016-03-30 01:23] #62 closed

[2016-03-30 01:23] remotevase commented on #62
Done

[2016-03-30 10:33] XiangZhao969 commented on #62
(Y)

[2016-03-30 10:53] XiangZhao969 opened #65 "Crashdump"
ImagicalMine Crash Dump Wed Mar 30 17:48:44 ICT 2016

Error: syntax error, unexpected 'public' (T_PUBLIC), expecting end of file
File: /SGv3.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 89
Type: notice

THIS CRASH WAS CAUSED BY A PLUGIN

Code:
[80]         $event->setDeathMessage("§3>§7 {$event->getEntity()->getName()} was demolished ");//$k Might not work
[81] 		}
[82] 	}
[83]     public functi

[2016-03-30 10:57] remotevase commented on #65
Oh goodness...

[2016-03-30 14:38] ImagicalGamer commented on #65
Issue being fixed

[2016-03-30 14:38] #65 closed

[2016-03-30 14:38] ImagicalGamer commented on #61
Issue solved

[2016-03-30 14:38] #61 closed

[2016-03-30 16:22] VitorWilliam opened #66 "Error"
[PocketMine] Server is starting...
[PocketMine] Server was started.
[Server] [16:19:25] [Server thread/WARNING]: Timezone could not be automatically determined. An incorrect timezone will result in incorrect timestamps on console logs. It has been set to "UTC" by default. You can change it on the php.ini file.
[Server] [16:19:26] [Server thread/INFO]: Loading pocketmine.yml...
[Server] [16:19:26]

[2016-03-30 16:32] Driesboy commented on #66
see my version i will made pr

[2016-03-30 18:15] #66 closed

[2016-03-31 05:11] Driesboy opened #68 "if you join match and than leave the server the game dont stop or will running with 0/24 players"
if you join match and than leave the server the game dont stop or will running with 0/24 players

[2016-03-31 10:17] ImagicalGamer commented on #68
Genisys?

[2016-03-31 10:49] remotevase commented on #68
Probably

[2016-03-31 14:21] Driesboy commented on #68
yes

[2016-03-31 14:22] Driesboy commented on #68
its the last bug for genisys i think you can make a leave world or leave match

[2016-03-31 15:47] remotevase commented on #68
This is a playerdata bug with genysis that cannot be fixed.

[2016-03-31 15:47] #68 closed

[2016-03-31 16:16] Driesboy commented on #68
You can use onleave()
And than teleport to worldspawn i use it with myplugin and it work!

[2016-03-31 16:18] ImagicalGamer commented on #68
We tried that it didn't do anything, feel free to test that and if it works make a pull request.

[2016-03-31 16:43] Driesboy commented on #68
ok i wil test it

[2016-04-01 22:27] NML32 opened #70 "Error: AddEntityPacket"
I'm using Genisys PHP7 build #211

Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerDeathEvent' to 'SurvivalGamesV3 v3.0.3': Class SurvivalGamesV3\AddEntityPacket not found on SurvivalGamesV3\SurvivalGamesV3

[2016-04-01 22:34] ImagicalGamer commented on #70
Does it crash your server?

[2016-04-01 22:35] ImagicalGamer commented on #70
It's for lighting download from [THIS](https://github.com/ImagicalGamer/SurvivalGamesV3/tree/Genisys) repo, it is a Genisys stable version xD. I will update it.

[2016-04-01 22:44] NML32 commented on #70
Doesn't crash the server just throws errors in the console.

[2016-04-01 23:41] remotevase commented on #70
'AddEntityPacket' isnt properly supported in Genysis. There is a difference between 'AddEntityPacket' in ImagicaMine-PocketMine vs. 'AddEntityPacket' in Genysis

[2016-04-01 23:49] ImagicalGamer commented on #70
^^ So use the Genisys Branch for now.

[2016-04-02 02:22] ImagicalGamer commented on #70
@EpicSteve33 @Driesboy whichever of you made a pull request for players turning their heads on the plates add it and make another pull request pls.

[2016-04-02 02:25] EpicSteve33 commented on #70
I thought it was way to buggy if you want me too I'll add it again

[2016-04-02 02:26] EpicSteve33 commented on #70
Cuz I added it while back

[2016-04-02 02:30] ImagicalGamer commented on #70
Yea I will make another branch to test it.

[2016-04-02 02:42] EpicSteve33 commented on #70
https://github.com/ImagicalGamer/SurvivalGamesV3/pull/71

[2016-04-02 03:13] ImagicalGamer commented on #70
thx, I had forgotten the code xD

[2016-04-02 12:32] Dub-Boy opened #72 "Help needed to set SG up correctly"
Has anyone got clear instructions to correctly set this plugin up?

[2016-04-02 12:39] remotevase commented on #72
Yes. 1st) create your desired SG world.
2) type /SG create <world name>
3) After you are tp-ed to the SG world, click on 24 of your desired spawn points
4) Click on a deathmatch spawn
5) You will be teleported back to the world that you were in before step 2.
6) Click on a sign that will have all stats and allow users to join the match

[2016-04-02 12:39] #72 closed

[2016-04-02 12:44] Dub-Boy commented on #72
Thanks :D

[2016-04-02 13:48] Dub-Boy opened #73 "Update the Genisys Branch"
Please update the Genisys Branch thanks.

[2016-04-02 13:51] ImagicalGamer commented on #73
I have some cool features planned for Genisys xD. We can't use the same code we use for IM, sadly. But I will update it today.

[2016-04-02 13:54] Dub-Boy commented on #73
Great thanks can't wait for the update :)

[2016-04-02 13:55] NML32 commented on #73
Thanks for the quick responses and updates for Genisys.

[2016-04-02 14:19] ImagicalGamer commented on #73
^^ No problem!

[2016-04-02 14:26] ImagicalGamer commented on #73
Just published a small update, more will come today!

[2016-04-02 14:26] #73 closed

[2016-04-02 14:28] ImagicalGamer commented on #57
I'll add it.

[2016-04-02 15:47] erkam2002 commented on #73
:D

[2016-04-02 17:39] NML32 commented on #72
Could this be added to the readme?

[2016-04-02 18:38] ImagicalGamer commented on #72
Yes.

[2016-04-03 14:08] #70 closed

[2016-04-03 14:08] #57 closed

[2016-04-03 14:17] Mike4l6 opened #74 "PVP is off"
I can't pvp in the map I created :(

[2016-04-03 14:20] ImagicalGamer commented on #74
Strange, this plugin doesn't affect PVP at all. If you have spawn protection and peaceful spawn it won't allow PVP in any worlds.

[2016-04-03 14:20] ImagicalGamer commented on #74
Are you using ImagicalMine or Genisys?

[2016-04-03 16:18] remotevase commented on #74
This is a feature configured in server.properties and pocketmine.yml no matter the version you are using. When you installed the server, you had the option to turn pvp on or off. This has nothing to do with the plugin

[2016-04-03 16:18] #74 closed

[2016-04-04 01:36] Mike4l6 commented on #74
ok its probably my spawn protection or other plugins sorry for this

[2016-04-04 01:41] ImagicalGamer commented on #74
It's fine! xP

[2016-04-06 06:44] ItzRadius opened #75 "Bug"
When the match starts you are still stuck and cant move and the text above the hot bar is still there.

[2016-04-06 11:08] Taki21 commented on #75
Do u get any errors in Console? If yes plz post it And we'll **try** to fix it!

[2016-04-06 14:55] ImagicalGamer commented on #75
Genisys issue xP.

[2016-04-06 14:55] ImagicalGamer commented on #75
Use the Genisys branch.

[2016-04-06 20:32] blui22 opened #76 "Genisys player leaving peadstal"
player can leave pedestal before start. this happened after i switched from imagicalmine to genisys.

[2016-04-06 22:49] ImagicalGamer commented on #76
Can't use same repo, download from the Genisys branch for Genisys servers.

[2016-04-06 22:49] #76 closed

[2016-04-06 22:51] Taki21 commented on #76
@blui22 I HIGHLY Recommend you go back to ImagicalMine...Im not forcing u im just suggesting as Genesys API is kinda messed up and consists of way 2 much errors in plugins... MY OPINION DO **NOT** Criticize me
just say GoAwayTaki instead....xD

[2016-04-07 00:37] blui22 commented on #75
What is the link to the genisys branch

[2016-04-07 00:39] blui22 commented on #76
@Taki21 Genisys makes the lagg go away. That's the main reason I switched. I would go back to ImagicalMine if they fixed the lagg.

[2016-04-07 00:39] Taki21 commented on #76
GOAwayTaki! xD

[2016-04-07 02:57] ItzRadius commented on #75
I think it will be all good. Lel.

[2016-04-07 02:57] #75 closed

[2016-04-07 03:09] remotevase commented on #75
https://github.com/ImagicalGamer/SurvivalGamesV3/tree/Genisys

[2016-04-07 18:48] DevIDFREBY opened #78 "Genisys CrashDump."
Genisys Crash Dump Thu Apr 7 13:36:44 CDT 2016

Error: Allowed memory size of 1073741824 bytes exhausted (tried to allocate 8192 bytes)
File: /src/pocketmine/utils/Config
Line: 143
Type: E_ERROR

Code:
[134] 					case Config::PROPERTIES:
[135] 					case Config::CNF:
[136] 						$this->parseProperties($content);
[137] 						break;
[138] 					case Config::JSON:
[139] 						$this->config = json_decod

[2016-04-07 19:23] ImagicalGamer commented on #78
Your servers memory is maxed out, set the memory to 0 in pocketmine.yml and genisys.yml. Not caused by the plugin, server was overloaded.

[2016-04-07 19:31] DevIDFREBY commented on #78
Set the value to 0 pocketmine.yml, the problem persists. :/

[2016-04-07 19:40] ImagicalGamer commented on #78
Can't help ya there, not caused by the plug. If your using a PC or a host your RAM and storage is limited. This plug uses too much memory for a home hosted server.

[2016-04-07 19:47] DevIDFREBY commented on #78
In VPS me it 5 GB of RAM...

[2016-04-08 02:53] #78 closed

[2016-04-08 02:54] remotevase commented on #78
Post this on genysis issues. Not in plugin issues. Issues with the software will not be tolerated. Only if it is to do with the plugin

[2016-04-10 12:08] NML32 opened #79 "Request: Update Genisys branch"
Could someone update the Genisys branch?

Thanks

[2016-04-10 14:33] GoldenMaker opened #80 "Timer"
hi when they are in the SGs the timer to it reaches 0 and then continuous 0... 0... 0...
Plese fix it

[2016-04-10 22:19] remotevase commented on #79
soon. Our main focus is ImagicalMine/Pocketmine, though

[2016-04-10 22:20] remotevase commented on #80
Are you using genysis?

[2016-04-11 02:25] NML32 commented on #79
Ok, thank you.

[2016-04-11 12:54] TheNewHEROBRINEX commented on #80
yes, he is using genisys php5

[2016-04-11 14:03] remotevase commented on #80
This plugin only supports php7.

[2016-04-12 11:24] kabluinc opened #82 "Timer stuck at 0 and Error in console"
when the timer reaches 0 it keeps flashing 0 and this error comes every second in console

[Server thread/CRITICAL]: Could not execute task SurvivalGamesV3\GameSender: Call to undefined method pocketmine\level\Level::createTile()
 [Server thread/CRITICAL]: Error: "Call to undefined method pocketmine\level\Level::createTile()" (EXCEPTION) in "/phar_SurvivalGamesV3-master_1tYPQCMo_VJ_lcb.phar/src/Su

[2016-04-12 14:30] ImagicalGamer commented on #82
ImagicalMine or Genisys?

[2016-04-12 14:30] #80 closed

[2016-04-12 14:31] ImagicalGamer commented on #82
If your using Genisys PHP5 this plugin will not work correctly. Also it will not work with the SkyWars plugin on IM forums.

[2016-04-12 14:32] kabluinc commented on #82
Using genisys php7 also tried on pocket mine and imagicalmine but same problem on all three

[2016-04-12 14:41] ImagicalGamer commented on #82
If your using the ImagicalMine SkyWars plugin that's causing your issue. It's based off of this and can't run with it.

[2016-04-12 14:43] kabluinc commented on #82
I'm not using sky wars plugin and this is happening on all 3 versions of pocketmine

[2016-04-12 14:43] ImagicalGamer commented on #82
Can I see a list of plugins your running.

[2016-04-12 14:48] kabluinc commented on #82
FloatingTexter v1.0, Slapper v1.2.9.3, AdminFun v1.0.0, EconomyAPI v2.0.9, iProtector v3.1a, EconomyJob v2.0.4, EconomyLand v2.0.9, LeetTP v1.0.0, WorldEdit v1.0a, PurePerms v1.3.6, ReportRTS v1.1.3, SimpleAuth v1.7.1, SimpleAuthHelper v2.0.4, BanItem v2.1, AlwaysSpawn v2.2.2, CustomAlerts v1.6, 1vs1 v0.0.5, Nick v1.0.1, ChatCensor v1.4, FactionsPro v1.3.2, TapToDo v2.2.1, MagicTelePortal v1.3.2,

[2016-04-12 14:52] ImagicalGamer commented on #82
Strange. @remotevase I can't seem too find whats causing @kabluinc's issue. Any ideas?

[2016-04-12 15:01] Dev-Kevo commented on #82
I think i fix that yesterday

[2016-04-12 15:01] Dev-Kevo commented on #82
It was a typo

[2016-04-12 15:10] Dev-Kevo commented on #82
Ops nvm

[2016-04-12 16:11] remotevase commented on #82
Oh, he's using the unstable version. Dont use that yet.

[2016-04-12 16:12] remotevase commented on #82
Use the official version that is published on ImagicalMine forums. The github version is unstable. He's using the github unstable version

[2016-04-12 17:57] ImagicalGamer commented on #79
I will soon update the Genisys branch once the ImagicalMine branch is stable.

[2016-04-13 13:29] Driesboy commented on #82
i use the official from IM and i have the same bug

[2016-04-13 13:29] Driesboy commented on #82
and i use php7 IM

[2016-04-13 14:27] ImagicalGamer commented on #82
Strange, what plugins are you using?

[2016-04-13 15:05] EpicSteve33 commented on #82
According to the error this code wasn't defined

`$chest = $level->createTile("chest", new Vector3($randX+4, $randY+1, $Z+4)); `

[2016-04-13 15:08] EpicSteve33 commented on #82
But that makes no sense because it looks like it is defined, maybe something is wrong somewhere else idk still a noob at php stuff

[2016-04-13 15:09] remotevase commented on #82
You're right. This is not a real issue as the official from IM (I have tried it) does not have this issue.
@Driesboy can we see a screenshot to prove that?

[2016-04-13 15:11] EpicSteve33 commented on #82
Maybe If we remove line 621 - 636 it will fix the error

[2016-04-13 15:12] EpicSteve33 commented on #82
I would test it but I'm in school and I have no access to my pc until I get home

[2016-04-13 15:13] EpicSteve33 commented on #82
I think removing this for now might help

[code]

[2016-04-13 15:14] remotevase commented on #82
for now...

[2016-04-13 15:15] EpicSteve33 commented on #82
Should I do this?

[2016-04-13 15:19] EpicSteve33 commented on #82
https://github.com/ImagicalGamer/SurvivalGamesV3/pull/84

[2016-04-13 15:30] EpicSteve33 opened #85 "Grace Period"
I found a SurvivalGames Plugin here https://github.com/PocketMineDevelopers/SurvivalGames Maybe we can barrow code from them to make a grace period

[2016-04-13 15:34] EpicSteve33 commented on #85
Just an idea

[2016-04-13 16:05] ImagicalGamer opened #86 "Ummm"
@remotevase @Taki21 My IP was banned from ImagicalMine forums! Any idea why?

[2016-04-13 17:16] Taki21 commented on #86
What The! I will see this !!!

[2016-04-13 17:16] Taki21 commented on #85
I will work on grace period without that code dont worry xD I have a plan in mind btw im in computer class xD

[2016-04-13 18:14] remotevase commented on #86
WHAT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2016-04-13 18:15] Taki21 commented on #86
Hmm U not IP Banned I didnt see anythinh on yer account

[2016-04-13 18:18] EpicSteve33 commented on #85
Oh lol I was just trying to get grace done quickly lel

[2016-04-13 18:18] Taki21 commented on #85
xD

[2016-04-13 19:48] #85 closed

[2016-04-13 19:54] ImagicalGamer commented on #86
Still banned when I visit forums I get a popup error saying my IP has been banned

[2016-04-13 19:59] Taki21 commented on #86
Can u give me error?

[2016-04-13 20:00] Taki21 commented on #86
like exact thing

[2016-04-13 20:08] ImagicalGamer commented on #86
It's not my profile, I can use it on a diff IP, it's my IP that's banned. Using XenForo there should be IP bans under the admin panel.

[2016-04-13 20:08] ImagicalGamer commented on #86
Error: Your IP address has been banned.

[2016-04-13 20:09] Taki21 commented on #86
Oh Ok i have IP Settings so i will TRY to fix

[2016-04-13 20:14] Taki21 commented on #86
Hmm I think we are gonna have to tell Keith about it...

[2016-04-14 01:21] ImagicalGamer commented on #86
Ye.

[2016-04-14 01:34] remotevase commented on #86
Either your missing a "s" in the message above, or you have to replace the "e" with an "a"

[2016-04-14 18:54] kaitododoyt opened #87 "Winner Player teleport to spawn"
You can:
$pl->teleportImmediate($spawn); or $pl->teleport($spawn,0,0); on line 576

to fix the winner teleport

[2016-04-14 18:55] remotevase commented on #87
ok

[2016-04-14 19:12] remotevase commented on #87
did it

[2016-04-14 19:12] #87 closed

[2016-04-14 21:20] remotevase opened #88 "TO DO"
- [x] Add random chest spawning
- [ ] Customization for chance that a chest will spawn
- [x] Add onleave event
- [x] Add grace period unstable (not tested)
- [x] Add grace period stable
- [x] Fix a few other issues
- [x] Add more config features
- [x] Add **option** to enable/disable lightning on death
- [x] Fix winner TP to spawn
- [x] Make the ImagicalMine Branch Stable
- [x] Update Genysis bran

[2016-04-14 21:20] Taki21 commented on #88
woah ! 88 Issues eh?

[2016-04-14 21:21] remotevase commented on #88
lol

[2016-04-14 21:21] remotevase commented on #88
2 Chest Spawn options:
Random spawning in world may be out of sg arena. To address that issue, maybe it should be spawn within radius of a spawnpoint. That radius would be configured in config. Maybe: User set 32 chest spawn points randomly, and each time, a total of 8 chests spawn using the above specific directions

[2016-04-14 21:22] remotevase commented on #88
Grace period code `public function cancelDamage(EntityDamageEvent $event) { $entity = $event->getEntity(); if($entity instanceof Player){ if($entity->getLevel() == $this->level){ $event->setCancelled(); } } }`

Now with that code just need to add in the messages for
$secondsofgraceleft

And the time for $timeofgrace
$timeofgrace also config

Lots of stuff for config

[2016-04-14 21:23] Taki21 commented on #88
Ctrl C + Ctrl V LOL

[2016-04-14 21:23] Taki21 commented on #88
Ya its really an enhancement

[2016-04-14 21:23] remotevase commented on #88
I Wanna add label "Notice"

[2016-04-14 21:23] Taki21 commented on #88
Assignee?

[2016-04-14 21:24] remotevase commented on #88
All of us

[2016-04-14 21:24] Taki21 commented on #88
How to add Label Notice?

[2016-04-14 21:24] remotevase commented on #88
gg be back soon

[2016-04-14 21:24] Taki21 commented on #88
Oops xD

[2016-04-14 22:59] #86 closed

[2016-04-16 15:33] Driesboy opened #89 "add 10 sec no damage"

[2016-04-16 15:35] remotevase commented on #89
This is called a grace period. We are working on it right now, if you read the TODO

[2016-04-16 15:35] #89 closed

[2016-04-16 15:39] Driesboy commented on #89
o sorry

[2016-04-17 17:19] bulutsun opened #90 "Console Error please fix!"
#[Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerDeathEvent' to 'SurvivalGamesV3': Class SurvivalGamesV3\AddEntityPacket not found on SurvivalGamesV3\SurvivalGamesV3
[18:09:11] [Server thread/CRITICAL]: ClassNotFoundException: "Class SurvivalGamesV3\AddEntityPacket not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144

Please fix issues thx!

[2016-04-17 17:22] Driesboy commented on #90
V1!!!!!

[2016-04-17 18:35] bulutsun commented on #90
Please fix error.

[2016-04-17 20:27] remotevase commented on #90
You using genysis?

[2016-04-17 20:35] remotevase commented on #90
sorry for the trouble, but could you please resubmit this issue using the new issue template?

[2016-04-17 20:35] #90 closed

[2016-04-17 20:37] remotevase commented on #79
Read the bullets in #88 for more info on this

[2016-04-17 20:37] #79 closed

[2016-04-18 12:39] ImagicalGamer commented on #88
I'm working with noDamageTicks for the grace period, we could get the time in the arena and if it is = or less that 780 damage is cancelled until X time.

[2016-04-18 14:39] remotevase commented on #88
the noDamageTicks was recently corrupted in ImagicalMine and no longer works. It also fails in PocketMine 0.11 and up. We should use @Taki21's code (I provided it in a message above)

[2016-04-18 14:45] ImagicalGamer commented on #88
I saw xD I just added that and it should be working.

[2016-04-18 14:46] remotevase commented on #88
I would test, but pmt.mcpe.me is offline

[2016-04-18 14:54] ImagicalGamer commented on #88
I'm using DevTools xD.

[2016-04-18 14:58] ImagicalGamer commented on #88
If your available join NarwhalCraft.net 26625 to test

[2016-04-18 15:05] EpicSteve33 opened #92 "Let the games begin!"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-04-18 15:07] EpicSteve33 commented on #92
It's really annoying because only a few people know when it has started I might provide gameplay later today if you need it idk why it happens maybe a ImagicalMine bug

[2016-04-18 18:06] ImagicalGamer commented on #92
I think I know why.

[2016-04-18 18:10] ImagicalGamer commented on #92
@remotevase idk why, probs an ImagicalMine bug.

[2016-04-18 18:11] ImagicalGamer commented on #92
@EpicSteve33 delete your config and remake the arena, that may be causing an issue

[2016-04-18 18:26] ImagicalGamer commented on #88
I'm making a branch that will be an optimized version for home run servers, I'm gonna clean all the unnecessary code and features.

[2016-04-18 18:37] #82 closed

[2016-04-18 18:37] EpicSteve33 commented on #92
Ok I will try this later today when I get home from school lel

[2016-04-18 19:21] remotevase commented on #88
cool, Sorry I was at school.  I can join soon, whenever your ready. Tell me when your ready to test.

[2016-04-18 20:47] remotevase commented on #92
new pr that fixed it. I was gonna do it myself, but became lazy and just accepted the pr

[2016-04-18 20:47] #92 closed

[2016-04-18 23:22] ImagicalGamer commented on #88
@Taki21 how do you get the custom labels or new ones?

[2016-04-19 00:30] Taki21 commented on #88
https://help.github.com/articles/creating-and-editing-labels-for-issues-and-pull-requests/
i followed da instructions here

[2016-04-19 00:51] ImagicalGamer commented on #88
Hehe

[2016-04-19 01:25] Taki21 commented on #88
lol xD

[2016-04-19 16:12] Heroata opened #97 "Match Doesnt End When Killed Player Doesnt Respawn or Go to Main Menu"
As I said in title, when somebody killed, if he dont press to respawn or main menu button, game wont end and winner will stay at the arena. Trollers can use this issue

[2016-04-19 16:29] Dev-Kevo commented on #97
This is true

[2016-04-19 18:13] EpicSteve33 commented on #97
@Dev-Kevo @Heroata what version of PocketMine are you on?

[2016-04-19 18:14] EpicSteve33 commented on #97
Because I think I know why but I don't think it can be fixed

[2016-04-19 18:30] Heroata commented on #97
If devs change winning function, it can be fixed. Not hard.

For example Get players on int, during the game, minus 1 when a player leave from game or world or when a player killed. Not hard.

 Using ImagicalMine 1.4

[2016-04-19 18:34] EpicSteve33 commented on #97
We would have to change a lot of stuff to make that work because the plugin checks for everything in that world and if players haven't respawned then they are technically still in that world it more pocketmine fault but maybe if the Devs look into it maybe they could add a function that checks when players die it seems like a lot of work to me(I'm lazy) lol

[2016-04-19 18:46] Heroata commented on #97
Just use pocketmine\event\player\PlayerDeathEvent;

[2016-04-19 19:03] remotevase commented on #97
I'll take a look

[2016-04-19 19:04] remotevase commented on #97
I'm pretty sure that we fixed this...

[2016-04-19 19:47] Heroata opened #99 "Error When A Player Killed"
As I said in title, getting error when a player killed. So PlayerDeath function doesnt working.

`Notice: Undefined property: SurvivalGamesV3\SurvivalGamesV3::$plugin in /home/ataberk/IM/plugins/SurvivalGames SRC/src/SurvivalGamesV3/SurvivalGamesV3.php on line 127
[21:45:03] critical> "Could not pass event 'pocketmine\event\player\PlayerDeathEvent' to 'SurvivalGamesV3 v3.0.3': Call to a member fun

[2016-04-19 20:02] #99 closed

[2016-04-19 20:02] ImagicalGamer commented on #97
We never fixed it, but I know how.

[2016-04-19 20:03] ImagicalGamer commented on #97
On PlayerDamageEvent when X amount of damage has been done before they die teleport them to spawn then let them die so the player dies in the default world instead of the arena.

[2016-04-19 20:21] Heroata commented on #99
Setting lightning_effect: "ON" at onEnable

[22:19:26] critical> ClassNotFoundException: "Class pocketmine\network\protocal\AddEntityPacket not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144

[2016-04-19 20:22] Taki21 commented on #99
oops lol i made a typo xD

[2016-04-19 20:23] Taki21 commented on #99
Fixed Now

[2016-04-19 20:24] Heroata commented on #97
Lol better

[2016-04-19 20:25] Heroata commented on #99
lol protocal? I thought protocal as implemented wrong xD

[2016-04-19 20:27] Taki21 commented on #99
xD

[2016-04-19 21:03] Heroata commented on #99
[23:01:33] critical> ClassNotFoundException: "Class pockemine\entity\Entity not found" (EXCEPTION) in "/src/spl/BaseClassLoader" at line 144

Whyy I just wanna hear a lightning sound. Just one time :sob:

[2016-04-19 21:05] Taki21 commented on #99
0_0 OMG xD

[2016-04-19 21:06] Taki21 commented on #99
gonna fix soon!

[2016-04-19 21:08] Taki21 commented on #99
Should Fix Now xD

[2016-04-19 21:09] Heroata commented on #99
What tha? Why I didnt see? Omg xD

[2016-04-19 21:09] Heroata commented on #99
Today I wont hear a lightning sound. Exciting for tomorrow lol

[2016-04-19 21:10] remotevase opened #100 "Just 4 the funny labels"

[2016-04-19 21:11] remotevase commented on #99
lol

[2016-04-19 22:48] Taki21 commented on #100
xD

[2016-04-19 22:48] Taki21 commented on #100
Does dat fix it? LOL

[2016-04-19 23:31] Dev-Kevo commented on #100
god dammyyyyyyyyyyyyyyyyyyyyyyyyyyy

[2016-04-20 11:39] Driesboy opened #101 "Genisys Development"

[2016-04-20 13:51] ImagicalGamer commented on #101
Yes, I will work with that some today.

[2016-04-20 14:09] Driesboy commented on #101
ok

[2016-04-20 14:10] Driesboy commented on #101
can i be genisys programmer on the genisys brange

[2016-04-20 14:11] Driesboy commented on #101
I may be the programmer Genisys branch

[2016-04-20 14:53] ImagicalGamer commented on #101
Sure, I will add you as a collaborator

[2016-04-20 15:18] Driesboy commented on #101
thx

[2016-04-20 19:03] Heroata commented on #97
Fixed it with MSpawn Plugin's api. Should I pull?

[2016-04-20 19:18] Heroata commented on #97
BTW Pulled

[2016-04-20 19:40] LordJoshie opened #102 "I can hit before game starts..."
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-04-20 20:07] Heroata commented on #102
I pulled code for fix game end. Wait for it.

[2016-04-20 20:08] Heroata commented on #102
And if nobody do, i'll do this 10 second (or configurable) invincible time at start.

[2016-04-20 20:09] Heroata opened #103 "Non-OP Players Can't Open Chest"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [ ] This issue is

[2016-04-20 20:22] LordJoshie commented on #102
beautiful. thanks for the fast reply.

this is a wonderful plugin.

unfortunately I was banned off ImagicalMine forums for posting an issue
similar... about AntiCheat not working on Genisys... :/

I know nothing about making a plug tho... just editing strings &
configurations.

this plugin is definitely nice tho.
On Apr 20, 2016 4:08 PM, "Heroata" <notifications@github.com> wrote:

[2016-04-20 21:27] remotevase commented on #103
This is unsupported by your version of PM (ImagicalMine doesnt support, PocketMine doesnt support, Genysis doesnt, clearsky doesnt, nukkit doesnt, bukkitpe doesnt, gladiatormine doesnt etc) No one has figured out this...

[2016-04-20 21:27] #103 closed

[2016-04-21 15:09] Heroata commented on #103
What??? Didnt understand :/ which version should i use?

[2016-04-21 15:19] Dev-Kevo commented on #103
Its works for me :/

[2016-04-21 15:21] EpicSteve33 commented on #102
I know why it lets you hit players

[2016-04-21 15:22] LordJoshie commented on #102
okay.... why ? & why wouldn't you have said so in the post you just made ?

[2016-04-21 15:23] EpicSteve33 commented on #102
The code it only set to 15 seconds after the games starts the count down so to fix this set it to 75 because that gives it 15seconds + the 60seconds waiting time

[2016-04-21 15:23] EpicSteve33 commented on #102
Lol

[2016-04-21 15:24] LordJoshie commented on #102
ohh. okay. killer.
how about being warped to hub when game done ? & a reward ?

[2016-04-21 15:25] EpicSteve33 commented on #102
a reward thing was added in a older version but was removed and idk about the warp yet

[2016-04-21 15:30] EpicSteve33 commented on #102
#104 this should fix this issue

[2016-04-21 16:20] Dev-Kevo commented on #102
I think i got the code

[2016-04-21 16:20] Dev-Kevo commented on #102
But i am not home :/

[2016-04-21 17:32] ImagicalGamer commented on #102
@LordJoshie you are teleported when the game ends and a reward will be re added soon, were focusing on the Grace Period rn.

[2016-04-21 17:32] #102 closed

[2016-04-21 17:33] #100 closed

[2016-04-21 17:33] #97 closed

[2016-04-21 17:34] LordJoshie commented on #102
okay thanks. & I dunno... for me... the game didn't end when I was the last
person left standing. :/
On Apr 21, 2016 1:32 PM, "Jake" <notifications@github.com> wrote:

[2016-04-21 17:36] EpicSteve33 commented on #102
@LordJoshie it's a bug that we all are working on

[2016-04-21 17:36] EpicSteve33 commented on #102
@ImagicalGamer can I have collaboration permission?

[2016-04-21 17:37] LordJoshie commented on #102
okay, no worries. it's a great plugin in progress. gonna be used by many
I'm sure. I'm looking forward to my server having this for some gaming. :D
great work. I'll be checking in & testing future releases.
On Apr 21, 2016 1:36 PM, "EpicSteve33" <notifications@github.com> wrote:

[2016-04-21 17:40] EpicSteve33 commented on #102
This plugin has got some good developers behind it so we will get it done someday lel

[2016-04-21 17:42] LordJoshie commented on #102
I'm sure someday very soon.
if anyone here wants to add my Kik for private chat  Dark.Miner

I own play.purecraftpe.ca & I'm working on networking my servers to have a
couple setup for gaming & reduce the load on my main server  I'm ranked #28
in under two months being public.

So having the best plugs is important to me. :)
On Apr 21, 2016 1:40 PM, "EpicSteve33" <notifications@github.com> wrote:

[2016-04-22 00:01] remotevase commented on #103
@Heroata none fully support it

[2016-04-22 05:05] Heroata commented on #103
Oh this time another plugin causes

[2016-04-23 13:14] Taki21 commented on #100
Woah dis is da 100th issue! xD

[2016-04-23 16:16] remotevase commented on #100
:)

[2016-04-23 18:10] #101 closed

[2016-04-23 20:00] Taki21 commented on #88
3 More Checks To Go! I did some of them! I also created a STABLE WORKING Release! Check em out!

[2016-04-23 20:00] Taki21 commented on #88
https://github.com/ImagicalGamer/SurvivalGamesV3/releases

[2016-04-23 22:03] remotevase commented on #88
cool! I'm gonna work on chest stuff next week. social studies tests this week (and they're quite hard, might I add)

[2016-04-23 22:46] Taki21 commented on #88
LOL XD Social Studies was always hard...
:D

[2016-04-23 22:46] Taki21 commented on #88
I have a break for a WEEK YAY

[2016-04-23 23:01] remotevase commented on #88
nice, lucky you
week break = lots of coding and helping coding.
Speaking of coding helping, I need help with EasyCMD. Making an issue there now

[2016-04-24 00:17] ImagicalGamer commented on #88
Posted update! Thanks @Taki21 @remotevase for kinda taking over while I have been working on other projects. I'm gonna start taking requests and adding more to SGV3!

[2016-04-24 01:07] Dev-Kevo opened #111 "refillChest"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-04-24 01:08] Dev-Kevo commented on #111
this is the latest

[2016-04-24 01:10] Taki21 commented on #111
Version ? 3.0.7 right?

[2016-04-24 01:14] Taki21 commented on #88
np

[2016-04-24 01:15] EpicSteve33 commented on #111
@Dev-Kevo @Taki21 I had the same issue so I went back to the old chest code

[2016-04-24 01:25] #111 closed

[2016-04-24 01:25] Taki21 commented on #111
Should WOrk Now..

[2016-04-24 02:10] Dev-Kevo opened #112 "umm same problem"
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [ ] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [ ] This issue is

[2016-04-24 02:15] Dev-Kevo commented on #112
line 705 is the problem now

[2016-04-24 02:31] Dev-Kevo commented on #112
i pulled a request

[2016-04-24 02:31] #112 closed

[2016-04-24 02:57] Dev-Kevo opened #114 "respawn to deathmatch"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-04-24 12:30] remotevase commented on #114
??? @Taki21 any ideas? Also, next time, please check the checkboxes

[2016-04-24 14:13] ImagicalGamer commented on #114
I think I have a fix.

[2016-04-24 14:23] Dev-Kevo commented on #114
Idk dont know how to use the check box sorry

[2016-04-24 14:24] remotevase commented on #114
just click on tge box once the issue is submitted

[2016-04-24 14:25] Dev-Kevo commented on #114
Tge?

[2016-04-24 14:26] remotevase commented on #114
mean "the" XD

[2016-04-24 14:26] Dev-Kevo commented on #114
Lol oh that simple wow

[2016-04-25 15:42] EpicSteve33 commented on #114
I had this same issue on ImagicalMine I thought it was just my server but I guess not lel

[2016-04-25 16:35] ImagicalGamer commented on #88
@remotevase @Taki21 I'm about to start on block hunt :smile: I will add you both as collaborators if you would like

[2016-04-25 19:59] Taki21 commented on #88
BLOCK HUNT OMG YES DEFINETLY IM HELPING LOL XD

[2016-04-26 00:15] Pandaken opened #118 "Having Trouble Using SurvivalGamesV3"
Hello! I am unsure how to use this plugin (this is unlike many other plugins I have seen). Do I have to upload the config, plugin, rank, .yml and README.md and the survival games v3 php file and unstable file? Isn't the plugin supposed to be a .phar (like my others)? Have I downloaded the right thing? If possible, I'd like the proper step process given to me on how to use this plugin for my server

[2016-04-26 00:30] ImagicalGamer commented on #118
Yes [THIS](https://github.com/ImagicalGamer/SurvivalGamesV3/releases/download/V3.0.7/SurvivalGamesStable.phar)

[2016-04-26 00:31] ImagicalGamer commented on #114
It's the plugin. it doesn't show that it saves the deathmatch. the code shows that it teleports you to the world spawn. Just set the world spawn at your deathmatch arena xD.

[2016-04-26 00:52] Dev-Kevo commented on #114
Lol ik i was just think that

[2016-04-26 00:56] Pandaken commented on #118
Thank you very much it works! However, is there anyway you can give me this plugin without the kit part?   (Because some players in my server randomly got the athlete kit and effects) Thank you again in advance!

[2016-04-26 01:56] remotevase commented on #88
Well, I'm kinda clueless what these are
1) Blockhunt
2) Bedwars
3) Buildbattle

[2016-04-26 02:00] remotevase commented on #118
Sure, I'll make 2 new branches tmro
1) no kits
2) no ranks

[2016-04-26 02:07] remotevase commented on #88
Ooops lol. Of topic: Of you guys play on SQPE, you should join our forums! Http://sqpeforums.x10host.com/public_HTML (soon to be renamed)

[2016-04-26 11:42] Pandaken commented on #118
Okay thank you!

[2016-04-26 14:20] Driesboy commented on #118
i have added the best support for that

[2016-04-26 14:22] Taki21 commented on #118
We dont need branches @remotevase we can use config for decisions xD and @Driesboy did dat already :P

[2016-04-26 14:22] #118 closed

[2016-04-26 14:28] Driesboy commented on #114
reset your world spawn

[2016-04-26 14:31] Driesboy commented on #88
i go now work on the genisys branch ok

[2016-04-26 15:22] Pandaken opened #124 "Downloading New Support Phar. For SurvivalGamesV3"
Hello! Sorry If I'm asking too many questions, but how do you download the phar of the entire plugin including the support for disabling kits and ranks? I only see zip. download. Thank you in advance.

[2016-04-26 18:56] remotevase commented on #124
I will make a release for that now and post it to ImagicalMine forums

[2016-04-26 18:58] #124 closed

[2016-04-26 20:27] Pandaken commented on #124
Can you give me the download here because ImagicalMine Forums hasn't confirmed my account yet and this is the only place I can download as of right now

[2016-04-26 20:29] Pandaken opened #126 "Downloading SurvivalGames V3 support for kit removal phar. file"
Sorry for my issues but Imagicalmine still hasn't confirmed my account and I can't download the new update. Can I have the download here instead?

[2016-04-26 20:41] Taki21 commented on #126
Why do u wanna remove kits?

[2016-04-26 20:41] Taki21 commented on #126
It makes our lives hardr

[2016-04-26 20:42] remotevase commented on #124
https://forums.imagicalmine.net/plugins/survival-games.284/download?version=475

[2016-04-26 20:43] remotevase commented on #126
https://forums.imagicalmine.net/plugins/survival-games.284/download?version=475

Option to disable kits already there. Stop spamming the issues with these threads or we'll ban you from this repo

[2016-04-26 20:43] #126 closed

[2016-04-26 21:01] Pandaken opened #127 "(Not Spam) Reread previous, issue, Not Resolved."
The previous issue wasn't resolved! I said Imagicalmine didn't confirm my account so I can't download anything from imagicalmine. What i am asking for is a link download (Like ImagicalGamer gave me) so I can download it here. Thank you, and sorry.

[2016-04-26 21:03] remotevase commented on #127
https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/3.1.1

[2016-04-26 21:03] #127 closed

[2016-04-27 18:21] EpicSteve33 opened #128 "Quit Event"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-04-27 18:24] remotevase commented on #128
Really? That is very strange. I'll work on that soon. Wow, I'm building up quite a list of projects for myself to work on XD

[2016-04-27 18:24] EpicSteve33 commented on #128
Lel

[2016-04-27 18:25] EpicSteve33 commented on #128
I would provide video of the bug but I'm not home

[2016-04-28 05:25] kaitododoyt commented on #114
Devs, you can add the extra spawn in config, this is very easy, then you can teleport at this spawn instead of world spawn. I can make this if you like, sorry my eng

[2016-04-28 15:15] Pandaken opened #129 "Server crash?"
Hello. I was wondering if there was a solution to my server crashing every time i put the latest release of survival games v3 .phar in. Once I upload the .phar and restart the server the console says:

28.04 11:05:08 [Multicraft] Server stopped
28.04 11:05:08 [Multicraft] Restarting crashed server in 15 seconds
28.04 11:05:08 [Multicraft] Server shut down (starting)
28.04 11:05:06 [Server] INFO [1

[2016-04-28 15:27] ImagicalGamer commented on #129
That's SW ultimate not the same as SGV3

[2016-04-28 15:27] Pandaken commented on #129
Do I have to upload both the SW and SGV3 for the no kits option to work?

[2016-04-28 15:31] Taki21 commented on #129
in the sgv3 config there is an option to enable disable kits

[2016-04-28 15:31] #129 closed

[2016-04-28 15:41] ImagicalGamer commented on #88
@Taki21 For sending messages in the GameSender task I would do:
`else if($time2>=500)
									{
									//yayaya whatevs here
									foreach($playersarena as $p)
									{
										$p->sendMessage("BRUH");
									}
									}`
Or would I need to use $time2 or did I format it all wrong? xD

[2016-04-28 15:45] Pandaken opened #130 "No Option To Disable Kits?"
Sorry for my issues. But this config doesn't have option to disable kits? Here is the config for SGV3-
---
chestitems:
- - 261
  - 0
  - 1
- - 262
  - 0
  - 2
- - 262
  - 0
  - 3
- - 267
  - 0
  - 1
- - 268
  - 0
  - 1
- - 272
  - 0
  - 1
- - 276
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
- - 283
  - 0
  - 1
-

[2016-04-28 15:47] ImagicalGamer commented on #130
RandomKit: false <-- add that to the bottom of your config.

[2016-04-28 15:55] Taki21 commented on #88
wait u mean $time2 as in the gametime?

[2016-04-28 15:55] Taki21 commented on #88
the format is correct but PLEASE im allergic to else if xD

[2016-04-28 15:56] Taki21 commented on #88
i prefer

} else {
  if(){
  }
}

LOL

[2016-04-28 15:57] Taki21 commented on #88
(u can use else if but just be aware i sneeze at it so...)

[2016-04-28 15:57] Pandaken commented on #130
lightning_effect: "ON"
RandomKit: false
...
It doesn't seem to work like this, is there anything else i should do?

[2016-04-28 15:59] Pandaken commented on #130
Im using this .phar: The STABLEST RELEASE! SurvivalGamesV3 - V3.0.7!

[2016-04-28 15:59] Taki21 commented on #130
can u download zip?

[2016-04-28 16:00] Pandaken commented on #130
yes. but what do i do with the zip?

[2016-04-28 16:00] Taki21 commented on #130
-_-

[2016-04-28 16:00] Taki21 commented on #130
u extract it

[2016-04-28 16:00] Taki21 commented on #130
and put in your plugins folder

[2016-04-28 16:00] Taki21 commented on #130
then

[2016-04-28 16:00] Taki21 commented on #130
u

[2016-04-28 16:01] Taki21 commented on #130
have

[2016-04-28 16:01] Taki21 commented on #130
devtools?

[2016-04-28 16:01] Taki21 commented on #130
if u do,

[2016-04-28 16:01] Taki21 commented on #130
restart ur server

[2016-04-28 16:01] Taki21 commented on #130
and tada

[2016-04-28 16:01] Pandaken commented on #130
what is devtools?

[2016-04-28 16:01] Taki21 commented on #130
dont forget to delete phar though

[2016-04-28 16:01] Taki21 commented on #130
0-0

[2016-04-28 16:02] Taki21 commented on #130
https://forums.imagicalmine.net/plugins/imagicaldevtools.79/

[2016-04-28 16:03] Pandaken commented on #130
i can't download that plugin i don't have an account for magical mine still getting it manually confirmed .-.

[2016-04-28 16:04] Taki21 commented on #130
[DveTools.zip](https://github.com/ImagicalGamer/SurvivalGamesV3/files/240909/DveTools.zip)

[2016-04-28 16:07] Pandaken commented on #130
so i use this plugin, extract the SGV3 zip, and then restart server?

[2016-04-28 16:07] Pandaken commented on #130
by use i mean upload

[2016-04-28 16:07] Taki21 commented on #130
yup

[2016-04-28 16:07] Taki21 commented on #130
u put both in ur plugins folder

[2016-04-28 16:15] Pandaken commented on #130
do i upload the SGV3 zip into plugins folder?

[2016-04-28 16:15] Pandaken commented on #130
nvm

[2016-04-28 16:15] Taki21 commented on #130
does it work?

[2016-04-28 16:15] Pandaken commented on #130
wait it won't let me upload the zip to plugins folder

[2016-04-28 16:16] Taki21 commented on #130
extract zip upload extracted folder to plugins folder

[2016-04-28 16:20] Taki21 commented on #130
If u are wondering...
[How To Extract A Zip....zip](https://github.com/ImagicalGamer/SurvivalGamesV3/files/240940/How.To.Extract.A.Zip.zip)

[2016-04-28 16:23] remotevase commented on #130
@Pandaken that is the wrong release. Use the latest one that I posted

[2016-04-28 16:23] #130 closed

[2016-04-28 16:23] Taki21 commented on #130
i told him to download the zip..

[2016-04-28 19:25] remotevase commented on #129
SW Ultimate is my plugin
http://github.com/remote_vase/S-W-Ultimate
Completely different from this plugin, plus, my plugin is not even completed yet

[2016-04-30 23:04] remotevase commented on #114
geez, guys! learn how to appropriately tag these!

[2016-04-30 23:26] Taki21 commented on #114
Sorry We Dont...LOL

[2016-05-01 19:11] Pandaken opened #131 "Plugin issue!"
Players keep their stuff if they do /hub

[2016-05-01 20:41] Taki21 commented on #131
Thats Supposed to be like that unless they DONT have VIP

[2016-05-02 01:44] #131 closed

[2016-05-03 14:40] Driesboy commented on #128
ok i am trying to fix this

[2016-05-03 14:53] Driesboy commented on #128
https://github.com/ImagicalGamer/SurvivalGamesV3/pull/132

[2016-05-03 16:49] TonyWAV opened #133 "players can get out of their plate/spawnpoint"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-05-03 18:59] remotevase commented on #133
shouldnt happen. I believe we have fixed this in the stable release.

[2016-05-03 18:59] #133 closed

[2016-05-03 19:00] #128 closed

[2016-05-03 23:06] EpicSteve33 opened #134 "Syntax Error"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-05-04 04:49] Driesboy commented on #134
Fixed

[2016-05-04 04:49] #134 closed

[2016-05-04 05:41] Driesboy commented on #114
see my pr

[2016-05-04 09:12] TonyWAV opened #136 "another syntax error"
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code blocks for crash dumps.
- [x] This issue is understandable - feel free to use your native language to write issues if you are not comfortable with English.
- [x] This issue is

[2016-05-04 10:36] Driesboy commented on #136
Master?

[2016-05-04 10:42] TonyWAV commented on #136
yes

[2016-05-04 10:57] #136 closed

[2016-05-05 01:41] remotevase commented on #114
We won't see your PR because, once again, it is not tested.

[2016-05-06 09:20] Driesboy commented on #128
Is this fixed now?

[2016-05-06 15:01] EpicSteve33 commented on #128
I believe so, but I never tested it

[2016-05-06 15:40] EpicSteve33 commented on #114
@remotevase I will test his code when I get home and I will also start helping with BB today after school

[2016-05-06 16:23] NikeboyHU opened #138 "RAM use Lagg"
Plugin use huge any RAM, but... This plugin running to infinity, and 'x' GB RAM not enough for this plugin... Please fix it!

[2016-05-06 18:13] NikeboyHU opened #139 "Sign Error!"
Join Sign reagain no working... Player can't join to arena when tap the sign, and get this message...Please fix it!

[2016-05-06 19:27] remotevase commented on #139
DO NOT DELETE THE GUIDELINES! Please submit this issue again with the guidelines filled in

[2016-05-06 19:27] #139 closed

[2016-05-06 19:29] remotevase commented on #138
DO NOT DELETE THE GUIDELINES! Please resubmit this issue with the guidelines.

[2016-05-06 19:29] #138 closed

[2016-05-07 10:31] NikeboyHU opened #140 "RAM use Lagg (reagain)"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-07 10:35] NikeboyHU opened #141 "Sign Error! (reagain)"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-07 10:41] Driesboy commented on #140
I dont have memory leak what server system do you use?

[2016-05-07 11:34] NikeboyHU commented on #140
MultiCraft server manager, but 3 GB RAM not enough this plugin + 2 more server running on VPS, but this plugin all-memory used, and crashing server, and any server crash, AND when crash, blocking server-net (RakLibInterface)...

[2016-05-07 12:38] iMOEchan opened #142 "Delete the Inventory"
Sorry if I put this post in the wrong category, because I do not know where to put this post. Hi I had suggestion, when player left the game, delete they inventory

like this

<?php
use pocketmine\plugin\PluginBase;
use pockemine\event\Listener;
use pocketmine\event\player\PlayerQuitEvent;
use pocketmine\item\Item;

namespace Plugin;

class Main extends PluginBase implements Listener {

    public

[2016-05-07 13:09] Taki21 commented on #142
Sure what u do is commit, add those changes, and me or someone else will merge em

[2016-05-07 13:24] NikeboyHU commented on #142
rewrite "PlayerQuitEvent" to "PlayerJoinEvent", and when player join to game, player inv is deleted.

[2016-05-07 17:44] Taki21 commented on #142
Nope

[2016-05-07 18:13] remotevase commented on #140
Yes, this is an issue with all server systems. Not with the plugin

[2016-05-07 18:13] #140 closed

[2016-05-07 18:14] remotevase commented on #141
Fill these out please

[2016-05-07 18:25] NikeboyHU commented on #141
On VPS, Ubuntu OS, ImagicalMine (1.4 Elite-Dev) phar file. v3.0.6 is working sign normal, and function complete always (laggy problem next bug), but now newer version not working.

[2016-05-07 23:25] remotevase commented on #141
Hmmm... @ImagicalGamer @Taki21 could it be a problem with the quit event not working?

[2016-05-07 23:25] remotevase commented on #141
Guys, figure out what the labels mean!!!!!!

[2016-05-08 00:03] ImagicalGamer commented on #88
Guys I got a cool idea what if when the game is running it shows the time the match has left on the join sign in place of the world!!! Also we need to make it so $this->mode is only for OP any1 who taps a block while someone is making an arena sets spawn.

[2016-05-08 00:07] Taki21 commented on #88
Yes! Great Idea!

[2016-05-08 02:03] ImagicalGamer commented on #142
We could do on EntityLevelChangeEvent and when a player joins a match set their name in a config and then clear their inv if they were in the match and they change levels.

[2016-05-08 02:05] ImagicalGamer commented on #141
lmao I do that just to piss you off sometimes. I don't clearly see the issue here, please explain it.

[2016-05-08 02:05] ImagicalGamer commented on #114
DeathMatch fixed issue closed.

[2016-05-08 02:05] #114 closed

[2016-05-08 02:06] ImagicalGamer commented on #88
Added it.

[2016-05-08 02:13] Taki21 commented on #142
Thats a bad idea since the person's kits will disappear...

[2016-05-08 02:13] Taki21 commented on #141
Ya gotta deal with em : )

[2016-05-08 02:14] #142 closed

[2016-05-08 03:55] NikeboyHU commented on #141
Yes, Critical Bug(s)... #140 issue is strongest problem, BUT that is NOT VPS-OS/OS bug. Please try fix problem(s).

[2016-05-08 08:46] NikeboyHU opened #143 "Code error: "foreach()""
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-08 09:13] NikeboyHU commented on #143
Sorry, it's me wrongly translate, and delete 1 character, sorry. Issue isn't have a problem.

[2016-05-08 09:13] #143 closed

[2016-05-08 13:02] Taki21 commented on #141
#140 is a Server Memory Issue

[2016-05-08 14:02] ImagicalGamer commented on #141
Can you please give us the host that you bought your VPS from. And the specs.

[2016-05-08 15:45] NikeboyHU commented on #141
VPS bought from host: Infinity Hosting Ltd.
VPS info:
- OS: Ubuntu Linux 16.04 LTS
- MultiCraft Server Manager (2+1 servers [+1 that is Survival Games server now])
- 3.2 GhZ x64 VCPU
- 4 GB RAM
- 15 GB SSD
- Total Virtual RAM: 4 GB

[2016-05-08 17:25] NikeboyHU opened #144 "Game start don't working!"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-08 17:44] Driesboy commented on #144
first : this project is dead

[2016-05-08 20:45] ImagicalGamer commented on #144
Delete the config folder it looks like you updated the plugin without deleting the odd config.

[2016-05-09 02:00] remotevase commented on #88
@Taki21 why u allergic?

[2016-05-09 02:01] remotevase commented on #142
Oh, yeah...

[2016-05-09 02:04] remotevase commented on #144
@ImagicalGamer yes, many people are getting this issue. It's completely invalid for us

[2016-05-09 02:04] #144 closed

[2016-05-09 02:10] Taki21 commented on #88
LOL IDK

[2016-05-09 02:11] Taki21 commented on #142
For now on, All INVALID Issues will have all the stupid tags

[2016-05-09 02:12] #141 closed

[2016-05-09 03:16] NikeboyHU commented on #144
Well, delete source config... But... Nothing, don't repair this problem... :/

[2016-05-10 00:31] remotevase commented on #144
No!!! Delete the whole config, ranks, and all of that!

[2016-05-10 00:32] remotevase commented on #141
None of those apply. Im leaving the funny labels, though

[2016-05-10 00:32] remotevase commented on #142
Umm okay then

[2016-05-10 04:31] TonyWAV opened #145 "Player lock movement bug"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-10 04:50] Driesboy commented on #145
I will check this soon

[2016-05-10 05:05] Driesboy commented on #145
I am on school now

[2016-05-10 19:33] ImagicalGamer commented on #145
Known Genisys issue please use the Genisys branch (if we still have one).

[2016-05-10 19:41] ImagicalGamer commented on #88
@Taki21 @remotevase our plugin was stolen from a German developer before Austina worked on it, all the code that we didn't add is stolen what to do?

[2016-05-10 20:24] Taki21 commented on #88
report ... him
or
tell him peacefully not to do dat

[2016-05-10 20:33] ImagicalGamer commented on #88
I'm saying I think Austina stole it.

[2016-05-10 21:04] Taki21 commented on #88
ohhhh

[2016-05-10 21:04] Taki21 commented on #88
Where is da other boi's repo?

[2016-05-10 21:18] ImagicalGamer commented on #88
It's not public, I have the plugin.

[2016-05-10 22:47] ImagicalGamer commented on #88
@Taki21 @remotevase my IP was banned from IM forums AGAIN... :cry:

[2016-05-10 22:58] Taki21 commented on #88
what da!? Dats weird...Maybe someone has same IP As u! Gotta check

[2016-05-10 23:00] Taki21 commented on #88
thelucyclub and Yato Dark 4U whos banned from forums have the same IP As u!

[2016-05-10 23:04] ImagicalGamer commented on #88
that's weird what IP does it show they have?

[2016-05-10 23:04] ImagicalGamer commented on #88
:cry: I'm devastated xP.

[2016-05-10 23:26] Taki21 commented on #88
i wont post it here

[2016-05-10 23:27] Taki21 commented on #88
post it in a conversation (this is public dats why xD)

[2016-05-10 23:28] Taki21 commented on #88
N***h *a*o*n*

[2016-05-11 00:00] ImagicalGamer commented on #88
Can ya unban me

[2016-05-11 00:11] Taki21 commented on #88
(srry : ( me no has perm : ()

[2016-05-11 00:11] ImagicalGamer commented on #88
:cry:

[2016-05-11 00:11] ImagicalGamer commented on #88
OK

[2016-05-11 00:12] ImagicalGamer commented on #88
:sob:

[2016-05-11 00:15] Taki21 commented on #88
:disappointed:

[2016-05-11 00:57] ImagicalGamer commented on #88
:sob:

[2016-05-11 05:08] Driesboy commented on #145
i think if we use the old one without head moving it will work

[2016-05-11 16:38] ImagicalGamer commented on #88
@Taki21 @remotevase I wanna make a gun plug but how can I spawn a snowball or arrow? I looked on PM forums but everything there was outdated.

[2016-05-11 17:36] Driesboy commented on #88
wait

[2016-05-11 17:37] Driesboy commented on #88
https://github.com/Sandertv/PocketRPG

[2016-05-11 17:37] Driesboy commented on #88
i hope it help

[2016-05-11 17:49] ImagicalGamer commented on #88
thx

[2016-05-11 17:57] Driesboy commented on #88
can i help you whit that plugin

[2016-05-11 18:22] remotevase commented on #88
@ImagicalGamer im gonna unban you right this moment

[2016-05-11 18:58] Taki21 commented on #88
how do u unban @remotevase ??

[2016-05-11 20:09] remotevase commented on #88
Confidential info on how, lets just say I'm part of @Keith 's and @ImagicalTom 's trusted staff team

[2016-05-11 20:55] ImagicalGamer commented on #88
@remotevase can You ask @ImagicalTom to unban me pls.

[2016-05-11 20:56] ImagicalGamer commented on #88
174.111.20.222 @remotevase

[2016-05-11 20:56] remotevase commented on #88
Okay, lemme get on forums

[2016-05-11 20:57] ImagicalGamer commented on #88
:+1:

[2016-05-11 20:57] remotevase commented on #88
Someone banned that IP... Wonder why. Anyways, unbanned now

[2016-05-11 20:57] ImagicalGamer commented on #88
Thanks @remotevase.

[2016-05-11 20:58] remotevase commented on #88
np

[2016-05-11 20:58] remotevase commented on #88
np

[2016-05-12 04:54] Efforto opened #146 "Can you guys privide multiple store way?"
Hmm...This is very interesting I think.Add MySql and SQLite store ways can be more useful......YAML is not so safe if you delete it by mistake...

[2016-05-12 05:01] Driesboy commented on #146
This plugin dont store player data

[2016-05-12 11:16] #146 closed

[2016-05-12 17:12] ImagicalGamer commented on #88
Really plugin downloading disabled? Remember we don't want to kill the other communities.

[2016-05-12 19:01] remotevase commented on #88
@ImagicalGamer I didnt disable it. Talk to @keithkfng
https://snag.gy/8WJjlD.jpg

[2016-05-12 19:23] ImagicalGamer commented on #88
That would kill the IM community.

[2016-05-12 19:24] ImagicalGamer commented on #88
Did you see the web API idea?

[2016-05-12 19:29] remotevase commented on #88
Yes I did. IDK how to do it

[2016-05-12 19:43] ImagicalGamer commented on #88
Look at the API of @DALTONTASTICS's twitter auth

[2016-05-12 23:46] ImagicalGamer commented on #88
I just finished a working auth plugin =D. [HERE](https://github.com/ImagicalGamer/ImagicalAuth)

[2016-05-13 01:38] remotevase commented on #88
@ImagicalGamer you should add a config

[2016-05-13 02:11] ImagicalGamer commented on #88
I will add that!

[2016-05-13 02:12] ImagicalGamer commented on #88
lmao I deleted a plugin and warned the guy because it was fake he must have other warns and now he is msging me whining about he can't download plugins because his account has been limited.

[2016-05-13 02:20] remotevase commented on #88
@ImagicalGamer yeah I saw the plugin lol that dude is a Genysis user, btw

[2016-05-13 14:33] ImagicalGamer commented on #88
Ik. Most of the users use Genisys as well as ImagicalMine. My servers run Im and Genisys, depends on what theme the server is.

[2016-05-13 14:47] remotevase commented on #88
Interesting... I wouldnt do that because I prefer NOT to have issues with plugins. Therefore, my main server runs IM and I want the sub servers to run ClearSky for performance

[2016-05-13 14:47] remotevase commented on #88
oops XD

[2016-05-13 15:31] Taki21 commented on #88
wait, can someone tell me how to make 2 servers on different ports? Im a noob...

[2016-05-13 16:44] ImagicalGamer commented on #88
Change the port in server.properties

[2016-05-13 16:45] ImagicalGamer commented on #88
For fac servers or PVP I use Genisys for the items and potions etc, for MiniGames and stuff I use IM for the performance.

[2016-05-13 16:45] ImagicalGamer commented on #88
Any idea why this isn't making the directory?
`@mkdir($this->getDataFolder() . "/players/" . $name . ".yml");`
$name is properly defined btw

[2016-05-13 17:45] remotevase commented on #88
Not /players/
Do players/

[2016-05-13 19:01] ImagicalGamer commented on #88
I got it xD

[2016-05-14 03:02] remotevase commented on #88
So, was the solution what I said? Wasn't exactly sure... Just and know of our will properly work

[2016-05-14 14:01] ImagicalGamer commented on #88
I used the method used for creating a config.

[2016-05-14 22:20] remotevase commented on #88
ah, k

[2016-05-15 07:54] #145 closed

[2016-05-16 14:07] NikeboyHU opened #148 "Plugin startup crash!"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-16 14:46] remotevase commented on #148
IMAGICALMINE DOES NOT WORK WITH MULTICRAFT
THIS IS AN INVALID ISSUE FOR ANYTHING
SIMPLE FIX: STOP USING MULTICRAFT

[2016-05-16 14:46] #148 closed

[2016-05-16 14:55] NikeboyHU commented on #148
Multicraft the best server manager, i created crash dump for you.
Crash dump:
ImagicalMine Crash Dump Mon May 16 16:45:11 CEST 2016

Error: syntax error, unexpected 'else' (T_ELSE)
File: /SurvivalGames_v3.0.3.phar/src/SurvivalGamesV3/SurvivalGamesV3
Line: 463
Type: notice

THIS CRASH WAS CAUSED BY A PLUGIN

Code:
[454] 			$player->sendMessage($this->prefix . "Spawn " . $this->mode . " has been reg

[2016-05-16 20:37] remotevase commented on #148
Yes, I understand that. The only problem is that it is not compatible with ImagicalMine. It doesnt matter if the plugin is causing a crash.
**The plugin works fine with ImagicalMine. The plugin causes crashes on Multicraft**

[2016-05-18 16:14] NikeboyHU opened #149 "DM pos bug"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-18 16:16] remotevase commented on #149
Please use the fields provided and resubmit the issue

[2016-05-18 16:16] #149 closed

[2016-05-18 16:19] remotevase opened #150 "Test Issue"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-18 16:20] remotevase commented on #150
Good enough

[2016-05-18 16:20] #150 closed

[2016-05-19 19:03] ImagicalGamer commented on #88
This project is pretty much dead.

[2016-05-19 19:04] ImagicalGamer commented on #88
Just like ImagicalMine xD

[2016-05-19 22:09] Mike4l6 commented on #88
Make food / armor in chests

[2016-05-20 00:33] remotevase commented on #88
no, not really @ImagicalGamer . I dont have much time nowadays, but I will in summer! I cant wait for summer to come around! I am also doing something that occupies my time, but that something will be done by satuday

[2016-05-20 21:36] ImagicalGamer commented on #88
@remotevase It was a joke...

[2016-05-21 19:35] remotevase commented on #88
Kk, lol, seemed true, though

[2016-05-22 05:47] Driesboy opened #151 "Cannot set DM"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-05-22 06:06] #151 closed

[2016-05-22 06:07] Driesboy opened #152 "If you create sign it say running"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-22 17:23] remotevase commented on #152
@Driesboy compare the sign creating code between master and Genysis. You're the Genysis manager, after all!

[2016-05-22 17:35] Driesboy commented on #152
I use the master!
Op 22-mei-2016 19:23 schreef "remotevase" <notifications@github.com>:

[2016-05-22 18:05] remotevase commented on #152
latest build? really?

[2016-05-22 18:06] remotevase commented on #152
screenshot plz

[2016-05-22 18:06] Driesboy commented on #152
Yes
Op 22-mei-2016 20:05 schreef "remotevase" <notifications@github.com>:

[2016-05-22 18:06] Driesboy commented on #152
Ok
Op 22-mei-2016 20:06 schreef "remotevase" <notifications@github.com>:

[2016-05-22 18:31] Driesboy commented on #152
![image](https://cloud.githubusercontent.com/assets/15795262/15455683/21300838-205c-11e6-81c2-d5d9f5f48dc1.png)

[2016-05-22 20:09] Mike4l6 commented on #152
You have to set up the sg map again -_-

[2016-05-22 20:36] remotevase commented on #152
You have to delete the previous configs

[2016-05-23 05:05] Driesboy commented on #152
already done

[2016-05-23 14:42] remotevase commented on #152
oh, I see the bug now. I am working on a fix

[2016-05-24 22:27] Mike4l6 opened #153 "Death Match"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-24 22:31] remotevase commented on #153
A new release will be posted in a few minutes that fixes this.

[2016-05-24 22:31] #153 closed

[2016-05-24 22:33] remotevase commented on #153
Fixed here
https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/3.x

[2016-05-24 22:34] remotevase commented on #152
fixed in master branch for non-genysis
https://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/3.x

[2016-05-24 22:41] Mike4l6 commented on #153
Thank you :D

[2016-05-24 22:44] remotevase commented on #88
YAY! RANDOM CHEST SPAWNING MADE! UNTESTED, THOUGH. Someone please test ASAP.
Edited first post to suit this method and now we have 1 more thing to do!

[2016-05-24 22:48] remotevase commented on #88
ON SERVER QUIT EVENT ADDED!!

[2016-05-25 00:37] remotevase commented on #153
Np. that was actually fixed yesterday or a day before, but I forgot to release it

[2016-05-26 13:36] TonyWAV opened #154 "Syntax error on "Line 887""
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-26 15:58] remotevase commented on #154
Going to take a look now

[2016-05-26 16:00] remotevase commented on #154
# PROBLEM WITH THIS ISSUE
1. Using Genysis with the master branch

[2016-05-26 16:01] #154 closed

[2016-05-26 16:14] Driesboy commented on #154
Fixed look genisys branch

[2016-05-26 17:46] #152 closed

[2016-05-26 22:27] Mike4l6 opened #157 "Running while no one is on"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [Y] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [Y] This issue includes appropriate markdown for sections - e.g. code

[2016-05-26 23:55] Mike4l6 commented on #157
Also I'm not on Genisys

[2016-05-27 02:11] remotevase commented on #157
This release fixed ithttps://github.com/ImagicalGamer/SurvivalGamesV3/releases/tag/3.1.2-NOT-TESTED

[2016-05-27 04:51] Driesboy commented on #157
can you upload it to the genisys branch?

[2016-05-27 10:53] remotevase commented on #157
I have told you this many times before. I hate Genysis. I don't use Genysis. I don't help Genysis branch. I AM NOT GOING TO BE/POSSIBLY TAKE THE CHANCE OF BEING AFFILIATED WITH GENYSIS!!!!!!!!!!!!!!!!!!!

[2016-05-27 18:23] ImagicalGamer commented on #157
Genisys is amazing.

[2016-05-28 01:31] Mike4l6 commented on #157
3.12 crashes

[2016-05-28 02:06] remotevase commented on #157
Really, @Mike4l6 oh, right. Gotta post latest release. For nowDownload latest src and compile, should work fine

[2016-05-28 02:09] remotevase opened #158 "[PROBLEM: WHAT TO DO?] someone stole this plugin"
https://github.com/CristaudoORG/Gladiators/blob/master/src/BudinoCraft/Main.php

[2016-05-28 06:05] Driesboy commented on #158
its a fork if you dont want forks dont upload it to github

[2016-05-28 07:08] TonyWAV commented on #158
Because he didnt fork it here and upload new one

[2016-05-28 07:43] Driesboy commented on #158
credits?

[2016-05-28 08:14] TonyWAV commented on #158
he have

[2016-05-28 10:44] remotevase commented on #158
Not full credits, claims it is good own plugin, but says in main php that it is this plugin

[2016-05-28 12:52] Mike4l6 commented on #157
ok

[2016-05-28 18:07] Mike4l6 opened #159 "Critical Error"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-28 19:20] ImagicalGamer commented on #158
I will have it taken down by github

[2016-05-28 19:27] ImagicalGamer commented on #158
who deleted the license file?

[2016-05-28 22:19] remotevase commented on #158
Not me

[2016-05-28 22:23] remotevase commented on #157
Oops, just reread that post and it sounded rude. Sorry about that, I hope you were able to understand what I was saying and in a not-rude way. Im sorry

[2016-05-28 22:24] remotevase commented on #159
I'll take a look

[2016-05-28 22:26] remotevase commented on #159
I will fix soon. Does it crash the server? I'll fix it in 1 or 2 days

[2016-05-29 06:15] bbka123 commented on #88
1./setrank is bad
Please fix, thank you
2.Please add When the player leaves the server, automatically empty the backpack.
3.Best to add a player points ranking
I believe this plugin will be perfect

[2016-05-29 16:23] biswarm22 opened #160 "[SUGGESTION] Cannot replace join sign"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-29 16:30] NikeboyHU commented on #160
Sign Tap working on plugin. 1 sign block place to random palace, and type to chat '/sg create <world name>' command, tap 24 join spawn point, new dm point, and automatically teleport back to spawn, and tap the sign, and join sign will be created if you working good that.

[2016-05-29 17:27] remotevase commented on #160
Hmmm, well take it into consideration

[2016-05-29 20:54] biswarm22 opened #161 "(Genisys)"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [x] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [x] This issue includes appropriate markdown for sections - e.g. code

[2016-05-29 23:10] bbka123 opened #162 "V3.1.2 can't setrank and give some suggestions"
My English is not very good, here are some questions and suggestions
1./setrank is bad
Please fix, thank you
2.Please add When the player leaves the server, automatically empty the backpack.
3.Best to add a player points ranking
I believe this plugin will be perfect

[2016-05-30 01:50] Mike4l6 commented on #157
its ok :D

On Sat, May 28, 2016 at 5:23 PM, remotevase <notifications@github.com>
wrote:

[2016-05-30 05:08] Driesboy commented on #161
Why

[2016-05-30 05:08] Driesboy commented on #161
Newest version?

[2016-05-30 21:19] ImagicalGamer commented on #160
You can make your own signs.
Set the second line to the world name, set the last line to the prefix

[2016-05-30 21:19] #160 closed

[2016-05-30 21:20] ImagicalGamer commented on #162
Can you please use the issue format provided.

[2016-05-30 21:20] #162 closed

[2016-05-30 21:22] ImagicalGamer commented on #158
https://help.github.com/articles/dmca-takedown-policy/

[2016-05-30 21:22] ImagicalGamer commented on #158
Once we fill that out and I send it from my email it will be removed. I just talked to GitHub support

[2016-05-30 22:02] Dev-Kevo commented on #158
wow

[2016-05-31 00:42] remotevase commented on #158
okay

[2016-05-31 00:44] remotevase commented on #161
Please tick the checkboxes. Next time this happens, your issue will be disregarded

[2016-05-31 04:26] Aericio commented on #157
Genisys = Lagisys :/

[2016-05-31 11:29] remotevase commented on #157
Lol

[2016-05-31 19:25] biswarm22 commented on #161
@remotevase sorry about that

[2016-05-31 19:27] biswarm22 commented on #160
@ImagicalGamer what is the prefix and is this the format
(firstline blank)
(world name)
(blank line)
(prefix)

[2016-05-31 20:32] remotevase commented on #161
no problem. first time issue-ers mistakes are always disregarded except for a notice!

[2016-05-31 21:26] ImagicalGamer commented on #161
Must cancel the move event in genisys issue closed

[2016-05-31 21:26] #161 closed

[2016-06-02 09:02] bbka123 opened #165 "[problem] Please, fix those problem"
DO NOT DELETE THIS!!!!!

Before you make an issue, make sure your issue matches the criteria below
Once the issue is submitted, PLEASE TICK THE CHECKBOXES BY CLICKING ON THEM!
- [ ] This issue isn't duplicated - you can check if it is by using the search bar located at the top left hand corner and select "Issues" on the left.
- [ ] This issue includes appropriate markdown for sections - e.g. code

[2016-06-02 09:07] bbka123 commented on #165
1.the setrank is bad, please fix itx
2.when players in sg , if players leave server, Inventory isn't clearall, please fix it

[2016-06-02 09:10] bbka123 commented on #165
And can you add player ranking,i sure this sg will be perfect

[2016-06-02 10:50] remotevase commented on #165
This issue is not understandable

[2016-06-02 10:50] #165 closed

[2016-06-02 17:45] #158 closed

[2016-06-02 19:02] Taki21 opened #166 "[SUGGESTION] Making SG V4?"
So i was thinking, after completing bugs, we can add extra - ordinary (lol) features and customizable thingies (more of em) and make it
# **SURVIVAL GAMES V4 DUN DUN DUN!**
What ya think?"

[2016-06-03 01:31] remotevase commented on #166
Yeah, that's what I wanna do. Make a new organization for this plugin and have website and all that stuff

[2016-06-03 03:49] Dev-Kevo commented on #166
O.0

[2016-06-03 15:38] ImagicalGamer commented on #166
We need to do a FULL rewrite of the entire plugin and make it more efficient and use less memory

[2016-06-03 16:16] Driesboy commented on #166
YES!!!

[2016-06-03 16:53] remotevase commented on #166
Wait... You can assign multiple people now? AWESOME!

[2016-06-03 20:39] ImagicalGamer commented on #88
@remotevase @Driesboy @Taki21 Is this the correct way to make a custom function with multiple args?
` public function subtractMoney($player,$bal){
    $ammount = $this->getMoney($player);
    $money = new Config($this->getDataFolder() . "/players.yml", Config::YAML);
    $money->set($player,$ammount - $bal);
    $money->save();
  }`
So could I do $this->addMoney($player,$bal); ?

[2016-06-03 21:20] Taki21 commented on #88
$ammount = **$player**->getMoney();
It may work

[2016-06-04 03:05] remotevase commented on #88
Guys, amount has one "m" not 2

[2016-06-04 09:52] TonyWAV commented on #166
can i join?

[2016-06-04 10:07] Driesboy commented on #166
Where?
Op 4-jun.-2016 11:52 schreef "TonyWAV" <notifications@github.com>:

[2016-06-04 13:10] Taki21 commented on #88
oh ya lol

[2016-06-04 13:15] Taki21 commented on #157
I like Genisys now. Since IM is inactive...

[2016-06-04 13:15] Taki21 commented on #157
they just gave up for no reason and i dont like people giving up...i made a switch

[2016-06-04 15:01] ImagicalGamer commented on #157
I've always liked and used Genisys, there was something about the IM community that I loved, that's why I stuck with it

[2016-06-04 15:59] remotevase commented on #157
I like ClearSky and ImagicalMine. I did not give up onIM, I still wanna continue the project

[2016-06-06 22:25] Mike4l6 commented on #157
Is ever gonna be a 3.12 that doesn't crash?

[2016-06-06 22:26] remotevase commented on #157
Let's hope so. Just look at the new branch: https://github.com/Inactive-to-Reactive/SurvivalGamesV4

[2016-06-06 23:57] ImagicalGamer commented on #157
um @remotevase your moving it to a new repo?

[2016-06-06 23:57] remotevase commented on #157
It's already moved

[2016-06-06 23:58] remotevase commented on #157
And you are a member of the organization that it is in

[2016-06-07 19:02] ImagicalGamer commented on #157
xD I didn't know dat

[2016-07-16 00:52] IsraAtGamings opened #167 "Error?"
On Genisys server i cant do command setrank.

[2016-07-25 19:19] WBTclancode commented on #166
Can I be in the team for testing

[2016-07-25 21:00] remotevase commented on #166
Please do not use this repository until ImagicalGamer fully retakes control of it. For now, use the new repo found in the readme file

[2016-07-27 14:08] ImagicalGamer commented on #166
I have already done a full rewrite I will post it after I get off work later.

[2016-08-18 14:15] #167 closed

[2016-08-18 14:15] #88 closed

[2016-08-18 14:15] #157 closed

[2016-08-18 14:15] #159 closed

[2016-08-18 14:15] #166 closed

[2016-08-18 14:22] ImagicalGamer opened #168 "TODO"
- [x] GameSender Task

- [x] RefreshSigns Task

- [x] Commands

- [ ] Ranks

[2016-08-18 20:01] ImagicalGamer commented on #168
@WTBclancode can you test?

[2016-08-18 20:02] ImagicalGamer commented on #166
@WBTclancode Can you test the latest commit?

[2016-08-19 12:56] ImagicalGamer commented on #168
Can someone test @Taki21 @Driesboy @remotevase @erkam2002 @any1else

[2016-08-19 15:45] Taki21 commented on #168
I cant even join my own server ...

[2016-08-19 15:57] ImagicalGamer commented on #168
@Taki21?

[2016-08-19 16:21] Taki21 commented on #168
Im still trying to turn it on lol

[2016-08-19 16:33] ImagicalGamer commented on #168
lmao

[2016-08-19 16:33] ImagicalGamer commented on #168
Any idea how to install/setup TravisCI or gitlab? I wanna auto build each commit.

[2016-08-19 18:24] remotevase commented on #168
I wish I understood that, but it is SO hard...

[2016-08-19 20:16] Taki21 commented on #168
IKR!!!

[2016-08-20 06:51] EpicSteve33 commented on #168
@ImagicalGamer I would test this on my server but the last version of sgv3 before the rework crashed my server every 15 minutes so ya, like would it still do that?

[2016-08-20 06:52] EpicSteve33 commented on #168
I think genisys just rejects it idk lol

[2016-08-20 08:36] GlitchPlayer commented on #168
Does the signs work now?

[2016-08-20 13:01] Taki21 commented on #168
Yay! ME SERVER WORKS AGAIN!!!

[2016-08-20 13:25] ImagicalGamer commented on #168
@EpicSteve33 This is a 100% rewrite the plugin works I need it tested in a production environment for bug testing, It has been under beta testing on a few private servers for a few weeks now.

[2016-08-20 13:25] ImagicalGamer commented on #168
@GlitchPlayer  Not sure what you meant but yes all signs work now.

[2016-08-20 13:31] ImagicalGamer commented on #168
Should I switch everything to JSON data storage? It's faster, lighter, cleaner.

[2016-08-20 14:07] Taki21 commented on #168
ur descision but i think its better :)

[2016-08-20 14:08] Taki21 commented on #168
ill add ranks and kits? and kit signs? what do u think?

[2016-08-20 14:08] Taki21 commented on #168
Also howbout spectator mode?

[2016-08-20 14:28] Taki21 commented on #168
Ok Testing it!

[2016-08-20 14:33] Taki21 commented on #168
Ok Results:
I cannot make my SG World because it keeps saying level not found (I double checked case sensitive and all that stuff) and still no!

also error:
[10:27:52] [Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerChatEvent' to 'SurvivalGames v0.0.2': Call to a member function getPlayers() on null on ImagicalGamer\SurvivalGames\EventListener
[10:27:52] [Server thr

[2016-08-20 14:43] Taki21 commented on #168
also dude.....
The reason i keep getting Level not Found is because u sed getLevelByName and that gives the original name of the world even though if u change the folder name. what happened to

if(file_exists($this->getServer()->getDataPath() . "/worlds/" . $args[1]))

[2016-08-20 15:11] Taki21 commented on #168
Well Well, @ImagicalGamer Someone made a tutorial on this plugin (didnt even give credits!)

https://www.youtube.com/watch?v=6pvRGmhiQ_k

[2016-08-20 15:12] Taki21 commented on #168
and using an adfly link to earn money from ur plugin

[2016-08-20 15:16] GlitchPlayer commented on #168
I'm completely open for bug testing

[2016-08-20 15:17] Taki21 commented on #168
lol i just reported all current bugs xD

[2016-08-20 15:31] GlitchPlayer commented on #168
lel

[2016-08-20 15:41] GlitchPlayer commented on #168
This is kinda funny, but when I join a game. It kills because of good. Lol

[2016-08-20 16:30] GlitchPlayer commented on #168
Ey new bug. When you won at a match. You won't be teleported back. NICE.

[2016-08-20 16:31] GlitchPlayer commented on #168
[00:24:37] [Server thread/CRITICAL]: "Could not pass event 'pocketmine\event\player\PlayerChatEvent' to 'SurvivalGames v0.0.2': Call to a member function getPlayers() on string on ImagicalGamer\SurvivalGames\EventListener
[00:24:37] [Server thread/CRITICAL]: Error: "Call to a member function getPlayers() on string" (EXCEPTION) in "/SurvivalGames-master/src/ImagicalGamer/SurvivalGames/EventListener

[2016-08-20 19:02] ImagicalGamer commented on #168
Oh yea I forgot to fix that I removed the chat system

[2016-08-20 19:03] ImagicalGamer commented on #168
@Taki21  I went with the better faster way to do it, the lvdat command in Genisys will fix that and Level not found is also if the level is unloaded I'll fix that

[2016-08-20 19:06] ImagicalGamer commented on #168
Please make new issues to report bugs this is the todo section to suggest features

[2016-08-20 19:09] ImagicalGamer commented on #168
@Taki21 I wanna use the API of other popular plugins (will increase the usage of this) any suggested kit plugin or we could make a new one with an extended API, I also wanna use the PurePerms API for a rank system.

[2016-08-20 19:18] ImagicalGamer commented on #168
@Taki21 I commented on the vid and asked for creator credits

[2016-08-20 19:30] ImagicalGamer commented on #168
I'm working on a task to check for updates

[2016-08-20 21:04] ImagicalGamer commented on #168
@Taki21 @remotevase I think I got Travis-CI setup kinda (copied file from UltimateRanks)

[2016-08-20 21:07] Taki21 commented on #168
Dont forget da money! hes making money outta ya!

[2016-08-20 21:08] ImagicalGamer commented on #168
I asked for creator credits (I make enough off plugins) he couldn't have enough download to make anything that would concern me, 10K adfly views is like $5 or somthin.

[2016-08-20 21:19] ImagicalGamer commented on #168
I'm working on the auto updater but idk what to use as the link, can I get the raw contents of a release? Or should we make a "releases" file and put a stable release in there?

[2016-08-20 21:53] ImagicalGamer opened #170 "Test new template"
### Issue description

Test Issue

### Steps to reproduce the issue

1. ... test
2. ... test

### OS and versions

* Version: 3a9f9be75bb543fc117680ebca251f8bbbba640d
* PHP: 7
* OS: Windows 10

### Crashdump, backtrace or other files

* ...

[2016-08-20 21:53] #170 closed

[2016-08-20 22:58] ImagicalGamer opened #171 "UpdateCheck Issue"
pocketmine\utils\Utils::getUrl() always returns 0 (using round() maybe), not sure how to fix (file_get_contents sucks, cURL doesn't work right on servers 100% of the time)

[2016-08-20 23:09] ImagicalGamer commented on #168
@Taki21 mind if I take down the Inactive to reactive repo since this is now active?

[2016-08-20 23:31] GlitchPlayer commented on #168
@ImagicalGamer My team made a autoupdater using our website. Maybe make a temporary website using github?

[2016-08-20 23:34] ImagicalGamer commented on #168
@GlitchPlayer I figured out how to make one (using AsyncTasks) but the update check if screwed rn, when it checks the version file for the version the file has 0.0.2 and it always returns 0. Rounding I guess idk.

[2016-08-20 23:36] GlitchPlayer commented on #168
Async task lags servers idk why :/

[2016-08-20 23:39] ImagicalGamer commented on #168
AsyncTasks run in the background so it makes a new thread for it to run on, servers with low ram and cores may lag.

[2016-08-20 23:42] GlitchPlayer commented on #171
Hmmm what do you use to check for update. I guessing its online right?

[2016-08-20 23:43] GlitchPlayer commented on #168
May I know your specs??? No wonder why my server lags

[2016-08-20 23:44] ImagicalGamer commented on #168
My server runs on 18GB of ram 4 cores (Ubuntu)

[2016-08-20 23:58] GlitchPlayer commented on #168
Wow, I have 4GB and 4 cores. Such wow

[2016-08-20 23:59] Taki21 commented on #168
ask remote hes owner

[2016-08-20 23:59] ImagicalGamer commented on #168
@Taki21 Okay... @remotevase can we delete the SGV4 repo on "inactive to reactive" since this is now active?

[2016-08-21 00:09] ImagicalGamer commented on #171
pocketmine\utils\Utils::getUrl() to copy the version files contents and check if it's bigger than the configs version, it always returns 0, maybe because the version is 0.0.2?

[2016-08-21 10:18] GlitchPlayer commented on #171
guys look what I fixed ;)
![image](https://cloud.githubusercontent.com/assets/16515013/17836634/78fc7aae-67cb-11e6-9187-08e85e6185e9.png)

[2016-08-21 10:18] GlitchPlayer commented on #171
I fixed where it found an update :3
Im making a PR rn

[2016-08-21 10:42] GlitchPlayer commented on #168
I made a PR @ImagicalGamer @Taki21

[2016-08-21 13:32] remotevase commented on #168
@ImagicalGamer Yeah, we should, but first: Please give me and taki some credit, as we are all part of the team. Instead of "src/ImagicalGamer" could it not have the "ImagicalGamer Part" and instead  be "SG-Team" or something like that. Also, I think that we should include UltimateRanks API into this, as well as S&W Management Ultimate (Both are my plugins). Why? They both have awesome features, bu

[2016-08-22 03:33] GlitchPlayer commented on #168
Ranks? So you guys are using UltimateRanks api? May I look at the api? I want to look ;)

[2016-08-22 03:40] GlitchPlayer commented on #168
Btw, you guys are commiting via github editor. Why not use IDE? It could checks some errors you made? Btw, I will make a fix rn.

[2016-08-22 13:30] remotevase commented on #168
@GlitchPlayer which IDE do you use? I am desperately in need of one...

[2016-08-22 15:33] ImagicalGamer commented on #171
Okay

[2016-08-22 15:35] ImagicalGamer commented on #168
I don't commit via GitHub I always use an IDE. And were gonna implement the UltimateRanks API and PurePerms. @remotevase  this is all my code lmao until @Taki21 made a commit and @GlitchPlayer made a PR

[2016-08-22 15:40] ImagicalGamer commented on #171
Taki I thought your `else if` phobia was over

[2016-08-22 15:43] ImagicalGamer commented on #168
When adding new features or testing them please make a new branch so they can be fully tested, I want the master branch to be 100% stable

[2016-08-22 17:36] #171 closed

[2016-08-22 17:39] ImagicalGamer opened #174 "GitLab"
I mostly setup GitLab for this repository [here](http://gitlab.com/ImagicalGamer/SurvivalGames) . I found a plugin build script (by the pocketmine team) but I keep getting this usage error [here](https://gitlab.com/ImagicalGamer/SurvivalGames/builds/3319985) you can look in [.gitlab-ci.yml](https://gitlab.com/ImagicalGamer/SurvivalGames/blob/master/.gitlab-ci.yml) and look how I'm doing it, I'm no

[2016-08-22 18:42] ImagicalGamer commented on #174
I give up, gonna pay som1 to setup gitlab

[2016-08-22 18:42] #174 closed

[2016-08-22 19:12] remotevase commented on #168
@ImagicalGamer so I know that we are adding PurePerms and UltimateRanks, but are we also adding  S&W Ultimate? See the plans file in there to know what i mean by "TONS OF FEATURES"

[2016-08-22 20:15] ImagicalGamer commented on #168
@remotevase What's S&W Ultimate?

[2016-08-22 21:40] remotevase commented on #168
See this:
https://github.com/remotevase/S-W-Ultimate/blob/master/src/SWUltimate/plans.file

**Please note:** SW Ultimate is Nowhere even **near** being finished, but it is a good plugin with awesome plans

[2016-08-22 21:46] ImagicalGamer commented on #168
How could we implement this into SG? @remotevase

[2016-08-22 21:46] ImagicalGamer commented on #168
I'm adding random extensions lmao to test them

[2016-08-22 21:59] remotevase commented on #168
Well not necessarily SG. I am thinking of this as a utilities plugin. It has perms, it has ranks, it has minigames, it has other utilities!

[2016-08-22 22:02] remotevase commented on #168
@GlitchPlayer @ImagicalGamer what IDE's do you guys use? Are they free?

[2016-08-22 22:04] ImagicalGamer commented on #168
@remotevase I use Eclipse and NetBeans for Java and SubLime Text 3 for PHP

[2016-08-22 22:46] GlitchPlayer commented on #168
@remotevase  Netbeans is free but I don't think they support php7 yet. I use phpstorm. you can use the trial but I can provide you a free license server I found on the internet :P

[2016-08-23 00:19] ImagicalGamer commented on #168
lmao @remotevase wanna use an illegal license server?

[2016-08-23 00:30] remotevase commented on #168
@ImagicalGamer Sure! I dont give a s*** if its hacked or nulled, as long as it ends up free!

[2016-08-23 00:31] remotevase commented on #168
@ImagicalGamer gonna add UltimateRanks API tomorrow, k? I gonna do it, then U can fix my errors (haha i give u the hard job)!

[2016-08-23 03:53] GlitchPlayer commented on #168
lel. btw, I found the license server on github too :P
https://gist.github.com/legalt/13bd5b0d234aa9ae4f9f

lmao

[2016-08-23 18:38] Taki21 commented on #171
nah some stupid bag of takis gave me it back...

[2016-08-23 18:38] Taki21 commented on #171
Please help me :( xD

[2016-08-23 18:42] remotevase commented on #171
I just had a bag of takis... Im scared... the elseif(){} are knocking on my door... They are holding a giant semicolon... HELP!!!!!

[2016-08-23 18:43] Taki21 commented on #171
LOL! I hope the Takis Maker is not going crAzY

[2016-08-23 18:43] Taki21 commented on #171
![unnamed](https://cloud.githubusercontent.com/assets/14851895/17905161/fd24728a-693f-11e6-90ee-455bc4f7682e.png)

[2016-08-23 18:44] Taki21 commented on #171
Life of a semi-colon....

[2016-08-23 19:29] ImagicalGamer commented on #168
@remotevase haha

[2016-08-23 19:42] ImagicalGamer commented on #171
tbh I love using `else if`, it's better than `return` (in my opinion)

[2016-08-23 19:59] ImagicalGamer commented on #168
@remotevase  @Taki21 Look at [this](https://travis-ci.org/ImagicalGamer/SurvivalGames/builds/154557047), shouldn't the repo have a git config?

[2016-08-23 23:26] Taki21 commented on #171
xD

[2016-08-24 02:10] remotevase commented on #168
Idk @ImagicalGamer

[2016-08-24 14:05] remotevase opened #178 "The future: Utilities Plugin!"
In the near future, I see this plugin becoming a total "all-in-one" plugin. It would have Utilities such as UltimateRanks API, PurePerms API, S-W-Ultimate (see GitHub.com/remotevase/S-W-Ultimate and read SRC/plans.file), Economy API, and more. It will also have minigames such as SG, CTF, (maybe spleef), and maybe clans! What do you all think of the idea?

[2016-08-24 14:07] ImagicalGamer commented on #178
So like a MiniGame core?

[2016-08-24 14:08] ImagicalGamer commented on #178
I think we should make a minigame base that minigames can use to link together and make it more efficient, (kinda how pemapmodder and some ppls were doing be he left)

[2016-08-24 17:30] remotevase commented on #178
Well, not exactly. You know how lifeboat core has a combination of 15 or so plugins? I am thinking of a different core. Not all minigames. Like 1/2 minigames, 1/2 Utilities/cool features

[2016-08-24 18:30] Taki21 commented on #178
OMG @ImagicalGamer is an octopus!

[2016-08-24 20:24] remotevase commented on #178
Changed label to:
WARNING!!!! TAKIS CHIPS CAUSE ELSEIF(){} PHOBIA!!!!!!

[2016-08-24 21:05] ImagicalGamer commented on #178
@Taki21 It's a squid but yas I got a new pp xD

[2016-08-24 21:09] ImagicalGamer commented on #178
@remotevase We could start something new and do that but this is SG lmao

[2016-08-25 00:23] GlitchPlayer commented on #168
lmao

[2016-08-25 00:41] Taki21 commented on #178
lol

[2016-08-25 06:17] EpicSteve33 opened #180 "Permission denied"
### Issue description

`Warning: file_put_contents(/arenas.json): failed to open stream: Permission denied in phar:///home/epicsteve33/Desktop/kcmcpe-servers/play.kcmcpe.net/PocketMine-MP.phar/src/pocketmine/utils/Config.php on line 208`

<hr>

I do not know why I am getting this issue, the error does not appear until I walk around.
Also I check the permission on the sg folder and it is set to rea

[2016-08-25 13:59] ImagicalGamer commented on #180
Confirmed issue, make sure the `SurvivalGames` file has a permission level of `777`

[2016-08-25 14:04] ImagicalGamer commented on #180
@remotevase?

[2016-08-25 14:12] ImagicalGamer commented on #180
So I tested this on a Linux Ubuntu server and when the config files are created it gives them a permission level of `776` meaning the server cannot write to the file, when I change that an the server restarts it goes back to the default permission level `776`

[2016-08-25 14:48] remotevase commented on #180
Hmm... I'll look into it...

[2016-08-25 14:54] remotevase commented on #180
chmod("/arenas.json",0778);

This should be at the beginning of our code: the first thing in the onEnable AND onLoad sections. This change permission level of file to 778

[2016-08-25 14:56] ImagicalGamer commented on #180
@remotevase I just checked into it some as well, when the file is first created it has `778` permission level but when it's created again ec) in another class the file permissions change

[2016-08-25 14:58] remotevase commented on #180
@ImagicalGamer add that code as MANY TIMES AS NEEDED so that whenever the server is running, the permissions are at ___ level. Maybe put it into a loop so every second that a player is on the server, it runs this? Maybe?

[2016-08-25 15:14] ImagicalGamer commented on #180
@remotevase That would cause some lag but we could run it on the gametask since that executes every 1.5 seconds

[2016-08-25 15:43] remotevase commented on #180
@ImagicalGamer yeah sounds good! I think im gonna add that now

[2016-08-25 15:46] remotevase commented on #180
@ImagicalGamer the highest permission level is 777 which is write for everybody, so the code would be
[code]

[2016-08-25 15:48] remotevase commented on #180
@ImagicalGamer never mind, IDK where the GameTask is. U add it there. I will add it to onEnable and onLoad

[2016-08-25 19:41] ImagicalGamer commented on #180
ImagicalGamer\SurvivalGames\Tasks\GameTask.php

[2016-08-25 19:42] ImagicalGamer commented on #180
@remotevase `chmod($this->getDataFolder() . "/arenas.json", 0777);`

[2016-08-25 21:16] remotevase commented on #180
yeah, sounds correct...

[2016-08-27 07:28] GlitchPlayer commented on #180
Not just on Linux. It happens on Windows

[2016-08-27 07:31] GlitchPlayer commented on #168
@ImagicalGamer Off-Topic May I use the Autoupdater to my plugin? (JukeboxPe) You will be credited ^_^ thanks

[2016-08-29 21:25] VCraftMCPE opened #181 "Bug"
Hello. @ImagicalGamer there a bug in the plugin when player leave and rejoin if game didnt start he will Glicthed

[2016-08-30 13:31] Taki21 commented on #181
whats the glitch?

[2016-08-30 14:27] VCraftMCPE commented on #181
try it

[2016-08-31 14:22] ImagicalGamer commented on #181
We need to teleport the player to the default world when  they quit if their in an arena

[2016-09-12 21:12] #181 closed

[2016-09-12 21:13] #178 closed

[2016-09-12 21:13] ImagicalGamer commented on #180
Can we confirm that this issue is resolved?

[2016-09-12 21:14] #168 closed

[2016-09-12 21:16] remotevase commented on #180
It works onwindows for me, idk about linux

[2016-09-12 21:20] ImagicalGamer commented on #180
If it's fixed on Windows it should work on Linux

[2016-09-15 15:33] ImagicalGamer commented on #180
I googled it and it's probs a parent directory perm problem, so the SurvivalGames file maybe? I tried chmod on it but it still reverts back to default perms.

[2016-09-20 18:46] EpicSteve33 commented on #180
@ImagicalGamer sorry for being inactive lately I will find out if the bug still happens in a few minutes

[2016-09-20 23:14] ImagicalGamer commented on #180
@EpicSteve33 It's cool :)

[2016-09-21 21:16] EpicSteve33 commented on #180
@ImagicalGamer I might start contributing to sg soon I've just been so busy with school I don't have much time but I could make time in the next few days

[2016-09-22 01:34] remotevase commented on #180
@EpicSteve33 what?! You can "make time"? AMAZING!!! HOW DO YOU DO IT?!?!?!

[2016-09-22 22:44] EpicSteve33 commented on #180
@remotevase well right now I have a lot of homework to do so if I get that done I will have tons of time over the weekend to work on things

[2016-09-22 23:04] Taki21 commented on #180
7th grade... ugh all the pressure xD

[2016-09-23 01:48] remotevase commented on #180
@Taki21 8th grade is easier than 7th grade (so far)

[2016-09-23 02:35] Taki21 commented on #180
The Teachers say:
`7th Grade is the most important year...
SO DO GOOD BRATZ`
lol

[2016-09-23 08:29] EpicSteve33 commented on #180
I’m in 11th grade rn believe me it is not easy

[2016-09-23 10:51] remotevase commented on #180
@taki21 it's the most important year in my middle school. I'm in 8th grade. I have less homework than 7th grade, and this year seeems less important than grade 7.  My middle school is 5,6,7,8 grade...

[2016-09-23 10:52] remotevase commented on #180
I think high school is harder than all of middle school combined. That is my prediction

[2016-09-23 18:56] Taki21 commented on #180
i predict no. In here... NYC... :p

[2016-09-23 18:56] Taki21 commented on #180
wait 5th is middle school? wow... thats kewl!

[2016-09-23 18:57] Taki21 commented on #180
man its the birth date that effects everyones grade xD like some one couldve been in like 9th instead their 8th cause of the birth day xD

[2016-09-23 18:57] Taki21 commented on #180
And people born on December 31st are so damn lucky xD

[2016-09-23 18:57] Taki21 commented on #180
1 day later Kabooom, one extra year lol

[2016-09-23 18:58] Taki21 commented on #180
School is easy as long the #TEACHERS ARE GEWD! (good) TO US

[2016-09-23 19:44] remotevase commented on #180
Lol... Btw don't forget I'm in new York as well

[2016-09-26 00:10] EpicSteve33 commented on #180
Whenever the server starts this happens

[code]

[2016-09-27 07:24] EpicSteve33 commented on #180
@ImagicalGamer I found this code in a plugin maybe it could help lol
 `@mkdir($this->getDataFolder(), 0777, true);`

[2016-09-27 21:10] remotevase commented on #180
@EpicSteve33 we have to do that (currently we tried to fix with chmod but didnt work...) but instead of 755, should set to 777

[2016-09-28 14:03] ImagicalGamer commented on #180
This is getting utterly ridiculous, we either need to locate the source of the issue or rewrite the entire plugin. This is the only plugin I'm having issues with, so it's something were doing.

[2016-09-28 14:17] #180 closed

[2016-09-28 15:50] remotevase commented on #180
did that fix it?

[2016-09-28 16:14] ImagicalGamer commented on #180
Yes it was a class mistake that caused all of that.

[2016-09-29 08:43] EpicSteve33 commented on #180
@ImagicalGamer Not completely fixed when a player clicks on a sign this error gets spammed

`Warning: file_put_contents(/config.yml): failed to open stream: Permission denied in /home/epicsteve33/Desktop/kcmcpe-servers/dev/src/pocketmine/utils/Config.php on line 207`

Also Players get put in void and dies

[2016-10-01 01:09] ImagicalGamer opened #187 "@remotevase"
@remotevase I'm going to post this on IM forums, it's the latest and greatest ;)

[2016-10-01 12:36] remotevase commented on #187
Well, the thing is- IM forums is practically dead except for the personal conversations

[2016-10-01 13:51] ImagicalGamer commented on #187
ikr lol

[2016-10-01 13:51] ImagicalGamer commented on #187
We should re activate that like we did my repos

[2016-10-01 14:58] remotevase commented on #187
reactivate what?

[2016-10-01 16:31] ImagicalGamer commented on #187
Bring IM forums back to life.

[2016-10-01 17:09] remotevase commented on #187
Umm... Not gonna happen, sorry. I'm gonna spend the next 30 minutes creating a database of plugins (redistributed). It will be in html.

[2016-10-01 17:51] ImagicalGamer commented on #187
Okay cool.

[2016-10-02 02:10] remotevase commented on #187
Okay... Taking much longer than expected... Definitely gonna be done by Tuesday

[2016-10-03 13:32] #187 closed

[2016-10-10 04:14] EpicSteve33 opened #188 "Lots of issues"
### Issue description

#1: Players do not get held to their posts before game start

#2: Players can join when a game has already started

#3: If there are 2 players and one kills the other nothing happens no winner gets picked

#4: Timer does not stop until it runs to 0

Those are the bugs I found but the plugin does nothing but count down at game start and that’s it
I looked into all the issues

[2016-10-10 13:29] remotevase commented on #188
dont use on Genesis. use with ClearSky, pocketmine, ImagicalMine, or pocketmine-remastered. Genesis--- does not work with this plugin

[2016-10-10 20:10] ImagicalGamer commented on #188
The plugin is built for Genisys, I removed all ClearSky and IM support when I rewrote it. Theres a lot of issues, it needs another rewrite.

[2016-10-10 20:10] ImagicalGamer commented on #188
@EpicSteve33 What Genisys version are you using?

[2016-10-10 20:58] remotevase commented on #188
@ImagicalGamer seriously? why'd you do that? the majority of MCPE server users use NON GENYSIS clients due to lack of working plugins for it... I think that this plugin should support the majority of people, not the minority. we should add in stuff like "if server() =genysis {___} else ______"
so that all Compatibility issues are solved

[2016-10-11 14:38] ImagicalGamer commented on #188
Most servers run Genisys or ClearSky lol. Genisys is by far the most useful MCPE Client, it has more features than any others (can be argued with CS). I use it as well as most of the networks I have developed for, and the larger servers that run EconomyPlus use Genisys as well.

[2016-10-11 20:35] remotevase commented on #188
Unfortunately, the majority of people still run ClearSky-- more people run ClearSky than Genysis. Why, you ask? Simply because Genysis is very resource demanding due to the large amounts of unnecessary code.

[2016-10-11 23:20] ImagicalGamer commented on #188
I would beg to differ lol, ClearSky has 100 or so stars on their official repo, Genisys has over 300, I did a poll: Genisys: 77%, ClearSky: 23%. ClearSky doesn't have the features Genisys has.

[2016-10-12 00:32] Taki21 commented on #188
Right now, i use genisys cause of da bug fixes but its plugin API is messed up i agree with @remotevase
Its hard to make plugins like before cause of genisys...

[2016-10-12 00:33] Taki21 commented on #188
@remotevase remember our sneaky plan?

[2016-10-12 00:34] Taki21 commented on #188
@ImagicalGamer ur probably good at kits so i need help with kits its designed for sg but mostly skywars

[2016-10-12 01:35] remotevase commented on #188
@Taki21 I am decent at kits, (UltimateRanks for more details) so ask me for any additional help...

[2016-10-12 01:36] remotevase commented on #188
@Taki21 no i dont remember our sneaky plan... I see it on my dashboard that you commented that, but I don't see it here... Did u delete that?

[2016-10-12 18:31] EpicSteve33 commented on #188
Honestly I have a love/hate relationship with genisys its good for several reasons but also bad in many other ways I just wish pocketmine would come back and be as good as it once was

[2016-10-12 22:18] ImagicalGamer commented on #188
@Taki21 if you still need help I have nothing else to do.

[2016-10-12 22:19] ImagicalGamer commented on #188
lol I don't really notice the Genisys API issues, all of my commissions are for Genisys.

[2016-10-13 19:14] ImagicalGamer opened #189 "."

[2016-10-13 19:20] ImagicalGamer commented on #189
I also want to work on what @remotevase was talking about, like a minigame core that tons of minigames can use similar to what Legend Of MCPE was working on (DynamicHub)

[2016-10-13 19:22] ImagicalGamer commented on #189
deleted org by mistake lmao

[2016-10-13 19:22] #189 closed

[2016-10-13 20:27] remotevase commented on #189
what?

[2016-10-13 20:35] Taki21 commented on #188
ok @ImagicalGamer go to da link and see da issues :p thanls :p :p

[2016-10-13 20:49] remotevase opened #190 "How's this idea?"
So... Do ya know how this is the number one SG Plugin for MCPE?

Well, it is. I feel like we should make it more universal.

I have created an organization that is specifically for the SG plugin.I have invited Taki21&ImagicalGamer

This organization includes a HungerGames plugin-->We turn the SG plugin into a HG Plugin

This organization includes SurvivalGames repos that are specific to the server

[2016-10-13 20:58] ImagicalGamer commented on #190
I'm down

[2016-10-13 21:01] remotevase commented on #190
I think that means yes?

[2016-10-13 21:28] remotevase commented on #190
Oh just looked it up and it said that it means that you are cool with it! Awesome! See
https://github.com/MC-SG
All work is currently being done on the OriginalSG repo

[2016-10-13 21:58] ImagicalGamer commented on #190
Okay

[2016-10-15 18:43] #190 closed